<template>
	<div class="page border-highlight border p-4">
		<div class="wrap block">
			<section
				v-if="me && me.Id"
				class="de:grid de:grid-cols-2_66_33 pb-0"
			>
				<div>
					<div class="user-header flex items-center">
						<profile-image
							class="flex-shrink-0 mr-10"
							:width="50"
							:height="50"
							:src="profileImage"
						/>
						<div>
							<h3 class="">
								{{ user.firstName }} {{ user.lastName }}
							</h3>
							<span class="">{{ user.email }}</span>
						</div>
					</div>
					<nav
						class="subnav static flex items-center bg-dark p-4 pl-0"
					>
						<nuxt-link
							class="no-underline"
							:to="{
								name: 'admin-user-id',
								params: { id: user.Id }
							}"
							>Edit Profile</nuxt-link
						>
						<nuxt-link
							class="no-underline ml-10"
							:to="{
								name: 'admin-user-id-events',
								params: { id: user.Id }
							}"
							>Edit Events</nuxt-link
						>
					</nav>
				</div>
			</section>
			<section class="de:pt-20">
				<NuxtChild />
			</section>
		</div>
	</div>
</template>

<script>
import Admin from '@/api/admin'
import User from '@/api/user'
import { mapState } from 'vuex'
// import Profile from '~/pages/me/profile.vue'

export default {
	data: () => ({
		isSaving: false,
		profileImage: '',
		user: {}
	}),
	computed: {
		ready() {
			return this.form.firstName && this.form.lastName
		},
		...mapState('auth', ['me'])
	},
	mounted() {
		this.load()
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/')
		}, 2500)
	},

	methods: {
		async load() {
			this.loadProfileImage()

			let admin = new Admin()
			let u
			try {
				u = await admin.getUserProfile(this.$route.params.id)
			} catch (e) {
				this.$store.dispatch('notify', {
					message:
						'There was an unknown error retrieving the user profile.'
				})
				this.$router.push('/admin/')
				return
			}

			this.user = { ...this.user, ...u.data }
		},

		async loadProfileImage() {
			try {
				const profileImage = await new User().getProfileImage(
					this.$route.params.id
				)
				// console.log('received profile image', profileImage)
				this.profileImage = profileImage.data.imagePath
			} catch (e) {
				this.$store.dispatch('notify', {
					message:
						'There was an unknown error retrieving the user profile image.'
				})
				return
			}
		}
	}
}
</script>
