// @font-face {
// 	font-family: 'Sans-serif';
// 	font-weight: 300;
// 	src: url('/fonts/AkzidenzGrotesk-Light.otf');
// }

// @font-face {
// 	font-family: 'Sans-serif';
// 	font-weight: 400;
// 	src: url('/fonts/AkzidenzGrotesk-Regular.otf');
// }

// @font-face {
// 	font-family: 'AkzidenzGrotesk';
// 	font-weight: 500;
// 	src: url('/fonts/AkzidenzGrotesk-Medium.otf');
// }

@font-face {
	font-family: 'FinancierDisplay-Medium';
	font-weight: 400;
	src: url('/fonts/FinancierDisplay-Medium.otf');
}
