* {
	box-sizing: border-box;
}

html {
	@apply text-default;
}

body {
	@apply text-default text-light bg-dark w-full h-auto p-0 m-0 overflow-x-hidden relative;

	max-width: 100vw;
	font-family: map-get($document, 'font-family');

	@include media('<de') {
		@apply text-small;
		// @include font-size('body-mobile');
	}
}

strong,
bold {
	@apply font-bold;
	color: white;
}

p {
	line-height: 1.5rem;
}

section
p,
section
ul {
	@apply text-alt tracking-wide;

	&:not(:nth-child(1)) {
		@apply my-2
	}

}

li {
	@apply py-2;
	// padding: 10px 0;
	transition: all 0.2s;

	&:nth-child(1) {
		@apply pt-0
	}
}

// headers
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply m-0;
}

h1 {
	@include font-size('h1');
	@include font-weight('regular');
	@include font-family('alt');
	letter-spacing: 0.375rem;
	line-height: normal;

	@include media('<de') {
		@include font-size('h1-mobile');
	}
}

h2 {
	@include font-size('h2');
	@include font-weight('regular');
	@include font-family('alt');

	letter-spacing: 0.625rem;
	line-height: normal;
	// margin-bottom: 15px;
	@apply mb-4;

	@include media('<de') {
		letter-spacing: 0.25rem;
		@include font-size('h2-mobile');
	}
}

h3 {
	@include font-size('h3');
	@include font-weight('regular');
	@include font-family('alt');

	// line-height: 70px;
	letter-spacing: 0.375rem;

	@include media('<de') {
		line-height: 50px;
		@include font-size('h3-mobile');
	}

	&.alt {
		@include font-size('h3');
		@include font-color('alt');
		@include font-weight('regular');

		@include media('<de') {
			@include font-size('h3-mobile');
		}
	}
}

h4 {
	@include font-size('h4');
	@include font-weight('bold');

	@include media('<de') {
		@include font-size('h4-mobile');
	}

	&.alt {
		@include font-size(20px);
		@include font-color('alt');
		@include font-weight('regular');

		@include media('<de') {
			@include font-size('h4-mobile');
		}
	}
}

h5 {
	@apply text-highlight; // tracking-wider

	@include font-size('h4');
	@include font-weight('regular');
	font-family: 'Roboto';

	@include media('<de') {
		@include font-size('h5-mobile');
	}
}

h6 {
	@include font-size('h6');
	@include font-weight('regular');

	@include media('<de') {
		@include font-size('h6-mobile');
	}
}

// links
a {
	@apply text-light underline;
	@apply inline-block;

	&:hover {
		@apply text-highlight;
	}

	&.nuxt-link-exact-active {
		@apply text-highlight;
	}

	&.processing {

	}

	&.btn,
	&.button {
		@apply uppercase text-center text-highlight;
		@apply py-4 px-4;
		@apply bg-transparent;
		@apply border border-highlight;
		// padding: 10px 20px;
		// background: transparent;
		// @include border('brand-green', $size: 2px);

		text-decoration: none;
		letter-spacing: 10px;
		transition: background 0.5s ease;

		&:hover {
			&:not(.inactive):not(.loading) {
				cursor: pointer;
				border-color: #a98f71;
			}
		}

		&--small {
			@apply py-2 px-4 text-smaller tracking-wide;
		}

		&--solid {
			// @include background-color('highlight');
			@apply border-none bg-accent text-dark text-center justify-around;

			&:hover {
				@apply border-0;

				background-color: darken(map-get($colors, 'highlight'), 5%);
			}
		}

		&.tab {
			@apply pr-2;
		}
	}
}

fieldset {
	@apply p-10 border-highlight border;
}

// forms
form {
	.button {
		display: inline-block;
		border: 0;

		padding: 10px 0;
		margin-top: 5px;
		background: transparent;

		color: #d6af89;
		font-size: 16px;
		letter-spacing: 10px;
		text-transform: uppercase;

		transition: background 0.5s ease;

		&.inactive {
			// visibility: hidden;
			// background: #333;
		}
		
		&:hover {
			&:not(.inactive):not(.loading) {
				cursor: pointer;
			}
			

			// background: lighten(#d0aa85, 5%);
		}

		&:active {
			// background: lighten(#d0aa85, 10%);
		}
	}

	.prefix {
		@apply text-dim pl-3;
	}
	.prefix,
	.prefix + input {
		@apply py-3;
	}

	input, select {
		@apply px-3 py-4;
		// padding: 13px 0px;
		width: 100%;
		max-width: 100%;

		border: 0;
		outline: 0;

		color: #d6af89;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 5px;
		text-align: center;
		font-family: Roboto, sans-serif;

		border-bottom: 1px solid #d6af89;
		background: transparent;
		// box-shadow: 0 0 5px inset black;
		// color: #ccc;

		&::placeholder {
			color: #d6af89;
			text-transform: uppercase;
		}
	}

	select {
		@apply text-left;
		letter-spacing: 3px;
	}

	textarea {
		@apply w-full border border-highlight p-4 bg-main;
		min-height: 200px;
	}

	.inactive {
		@apply text-alt cursor-default;
		opacity: .5;
	}
}

table {
	tr {
		@apply border-highlight border-b;

		&:first-child {
			@apply border-highlight border-t; 
		}

		td {
			@apply py-2 px-4;

			&:first-child{
				@apply pl-0;
			}

			&:last-child {
				@apply pr-0;
			}
		}
	}
}

.hideme {
	display: none;
}
