// @font-face {
// 	font-family: 'Roboto', 'Sans-Serif';
// 	// src: url('/fonts/FinancierDisplay-Medium.ttf') format('truetype');

// 	font-weight: bold;
// 	font-style: normal;
// }

.page {
	@apply relative items-center justify-center bg-dark;

	section {
		@apply py-32 mx-auto;
		max-width: 1520px;

		@include media('<de') {
			@apply py-8;
		}
	}

	.wrap {
		@apply px-20 mx-auto;
		max-width: 1420px;
		// padding: 100px;

		@include media('<de') {
			@apply py-0 px-8 w-auto flex flex-wrap;

			// padding: 50px 30px;
			// width: auto;
			// display: flex;
			// flex-wrap: wrap;
		}
	}
}

.col {
	

	&--left {
		flex: 1 1 60%;
		padding-right: 50px;

		@include media('<de') {
			@apply pr-0;
			flex: 1 1 100%;
		}

		p {
			&:nth-child(1) {
				// @apply mt-20;
			}
		}
	}

	&--right {
		flex: 1 1 3%;
		text-align: right;
		padding-top: 20px;
	}
}
