<template>
	<div class="w-full de:w-auto de:grid de:grid-cols-2_66_33">
		<div>
			<h3 class="text-large">Events</h3>
			<table class="w-full">
				<thead>
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td>Date</td>
						<!-- <td>End Date</td> -->
						<!-- <td>Attendees</td> -->
					</tr>
				</thead>
				<tbody>
					<tr v-for="event in events" :key="event.Id">
						<td>{{ event.Id }}</td>
						<td>{{ event.fullName }}</td>
						<td>{{ event.startDate }} - {{ event.endDate }}</td>
						<td></td>
						<!-- <td>{{ event.attendees }}</td> -->
						<td>
							<nuxt-link
								:to="{
									name: 'admin-event-id',
									params: { id: event.Id }
								}"
								>View</nuxt-link
							>
							&nbsp;&nbsp;
							<nuxt-link
								:to="{
									name: 'admin-event-id-edit',
									params: { id: event.Id }
								}"
								>Edit</nuxt-link
							>
						</td>
						<!-- <td>{{ event.attendees }}</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import Event from '@/api/event'
// import User from '@/api/user'
// import Me from '@/api/me'

import { mapState } from 'vuex'

export default {
	data: () => ({
		events: []
	}),

	computed: {
		...mapState('auth', ['me'])
	},

	created() {
		this.load()
	},

	methods: {
		async load() {
			try {
				let e = new Event()
				this.events = (await e.all()).data
				console.log('loaded events', this.events)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'There was an unknown error retreiving all events.'
				})
			}
		}
	}
}
</script>
