<template>
	<div>
		<fieldset>
			<legend>Search Users</legend>
			<form class="flex w-100 items-center">
				<div class="mb-8 flex">
					<input
						v-model="form.email"
						type="textbox"
						name="email"
						placeholder="Email"
						@keyup="search()"
					/>
				</div>
				<span class="mx-10"> or </span>
				<div class="mb-8 flex">
					<input
						v-model="form.firstName"
						type="textbox"
						name="firstName"
						placeholder="First Name"
						debounce="500"
						@keyup="search()"
					/>
				</div>
				<span class="mx-10"> or </span>
				<div class="mb-8 flex">
					<input
						v-model="form.lastName"
						type="textbox"
						name="lastName"
						placeholder="Last Name"
						@keyup="search()"
					/>
				</div>
			</form>
			<div v-if="results.length" class="mt-10 results">
				<h3>Users</h3>
				<table class="mt-4 w-full">
					<tr v-for="result in results" :key="result.Id">
						<td>{{ result.firstName }}</td>
						<td>{{ result.lastName }}</td>
						<td>{{ result.email }}</td>
						<td v-if="me.role > 1">
							{{ convertRole(result.role) }}
						</td>
						<td>
							<nuxt-link
								:to="{
									name: 'admin-user-id',
									params: { id: result.Id }
								}"
								>edit</nuxt-link
							>
						</td>
						<td
							v-if="
								me.role >= 2 &&
									(result.role < me.role || !result.role)
							"
						>
							<a
								href=""
								@click.prevent="
									changeRole(
										result.Id,
										!result.role ? 1 : ++result.role
									)
								"
								>↑ role</a
							>
						</td>
						<td
							v-if="
								me.role >= 2 &&
									result.role > 0 &&
									me.role > result.role
							"
						>
							<a
								href=""
								@click.prevent="
									changeRole(
										result.Id,
										!result.role ? 0 : --result.role
									)
								"
								>↓ role</a
							>
						</td>
					</tr>
				</table>
			</div>
		</fieldset>
		<fieldset>
			<legend>Add Users</legend>
			<form class="w-100 items-center">
				<div class="mb-8 flex">
					<input
						type="file"
						name="file"
						accept="text/csv"
						class="input-file"
						@change="filesChange($event.target.files)"
					/>
					<p v-if="form.file" class="mt-10 text-green pl-4">
						You have loaded
						{{ massUserList.length }} users.
					</p>
				</div>
				<div class="submit text-center">
					<a
						class="button"
						:class="[form.processing ? 'loading' : '']"
						@click="addUsers()"
						>Submit</a
					>
				</div>
			</form>
		</fieldset>
	</div>
</template>

<script>
import Admin from '@/api/admin'
import Papa from 'papaparse'
// import User from '@/api/user'
// import Me from '@/api/me'

import { mapState } from 'vuex'

export default {
	data: () => ({
		isSaving: false,
		profileImage: '',
		results: [],
		form: {
			processing: false,
			ready: false,
			email: '',
			firstName: '',
			lastName: '',
			bio: '',
			currentTitle: '',
			dateOfBirth: '',
			website: '',
			linkedin: '',
			instagram: '',
			twitter: '',
			discord: '',
			file: {}
		},
		massUserList: []
	}),

	computed: {
		...mapState('auth', ['me'])
	},

	methods: {
		async search(clearResults = true) {
			if (clearResults) this.results = []

			if (
				!this.form.firstName.length &&
				!this.form.lastName.length &&
				!this.form.email.length
			) {
				return
			}

			let admin = new Admin()
			let type =
				this.form.firstName.length || this.form.lastName.length
					? 'name'
					: 'email'
			let val =
				type === 'email'
					? this.form.email
					: (this.form.firstName ? this.form.firstName : 'zzzz') +
					  ' ' +
					  (this.form.lastName ? this.form.lastName : 'zzzz')

			let { data: results } = await admin.searchUsers(type, val.trim())
			this.results = results
			console.log('results', this.results)
		},

		convertRole(role) {
			switch (role) {
				case 1:
					return 'Admin'
				case 2:
					return 'Super Admin'
				case 3:
				case 4:
					return 'Developer'
				default:
					return 'Member'
			}
		},

		async changeRole(id, role) {
			let admin = new Admin()

			try {
				await admin.changeRole(id, role)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: e
				})
				return
			}

			this.search(false)
		},

		isIterable(val) {
			return Symbol.iterator in Object(val)
		},
		async addUsers() {
			console.log('mass adding', this.massUserList)
			this.form.success = 0
			this.form.fail = 0
			this.form.fails = []

			// if (!this.isIterable(this.massUserList)) {
			// 	console.log('mass user list is not iterable')
			// 	return
			// }

			for (let mem of this.massUserList) {
				this.form.processing = true
				let admin = new Admin()

				// if (!this.isIterable(mem)) {
				// 	console.log('mem is not iterable', mem)
				// 	continue
				// }

				try {
					console.log('adding user', mem)
					await admin.addUser(mem)

					this.form.success++
				} catch (e) {
					this.$store.dispatch('notify', { message: e })
					this.form.fail++
					this.form.fails.push(mem)
					continue
				} finally {
					this.form.processing = false
				}
			}

			this.$store.dispatch('notify', {
				type: this.form.success > 0 ? 'success' : '',
				message:
					this.form.success +
					' users were added successfully. ' +
					(this.form.fail > 0
						? this.form.fail + ' users failed to add.'
						: 'All users were added successfully.')
			})

			// this.reset()
		},

		filesChange(file) {
			this.form.file = file[0]
			this.massUserList = []

			let userList = []

			const reader = new FileReader()
			reader.onload = e => {
				// const contents = e.target.result.split('\n')
				let parsed = Papa.parse(e.target.result)
				console.log('saw parsed', parsed)

				parsed.data.map(cols => {
					// if (!l) return
					// const cols = l.trim().split(',')
					//cols[0] === n/a
					//cols[1] === n/a
					//cols[2] === email
					//cols[3] === first name
					//cols[4] === last name
					//cols[5] === short bio
					//cols[6] === birthdate
					//cols[7] === website
					//cols[8] === linkedin
					//cols[9] === instagram
					//cols[10] === twitter
					//cols[11] === discord

					cols[2] = cols[2] || ' '
					cols[3] = cols[3] || ' '
					cols[4] = cols[4] || ' '
					cols[5] = cols[5] || ' '
					cols[6] = cols[6] || ' '
					cols[7] = cols[7] || ' '
					cols[8] = cols[8] || ' '
					cols[9] = cols[9] || ' '
					cols[10] = cols[10] || ' '
					cols[11] = cols[11] || ' '

					if (
						!cols[2] ||
						!cols[2].includes('@')
						// !cols[3] ||
						// !cols[4]
					)
						return

					userList.push({
						email: cols[2].trim(),
						firstName: cols[3].trim(),
						lastName: cols[4].trim(),
						bio: cols[5].trim(),
						website: cols[7].trim(),
						linkedin: cols[8].trim(),
						instagram: cols[9].trim(),
						twitter: cols[10].trim(),
						discord: cols[11].trim()
					})
				})
				console.log('parsed', userList)
				this.massUserList = userList
				console.log('mass user list', this.massUserList)
			}

			reader.readAsText(this.form.file)
			// if (!fileList.length) return

			// append the files to FormData
		}
	}
}
</script>
