<template>
	<div>
		<!-- <section class="wrap"> -->
		<h3 class="text-large">Invite Attendee</h3>
		<div class="">
			<p>
				Fill out the form below to send an invite.
			</p>
		</div>
		<form
			class="mt-12 text-left de:w-1/2"
			enctype="multipart/form-data"
			novalidate
		>
			<div class="mb-8">
				<select v-model="form.template">
					<option :value="{}" selected="selected"
						>Select an email template ...</option
					>
					<option
						v-for="template in templates"
						:key="template.id"
						:value="template"
						>{{ template.name }}</option
					>
				</select>
			</div>
			<div v-if="form.template.promo" class="mb-8">
				<select
					v-model="form.promo"
					placeholder="Select a promotion ..."
				>
					<option :value="{}" selected="selected"
						>Select a promo code ...</option
					>
					<option
						v-for="(promo, i) in promotions"
						:key="i"
						:value="promo"
						>{{ promo.code }} - {{ promo.amount }}</option
					>
				</select>
			</div>
			<div class="mb-8">
				<select v-model="form.event">
					<option :value="{}" selected="selected"
						>Select an event ...</option
					>
					<option
						v-for="event in events"
						:key="event.Id"
						:value="event"
						>{{ event.name + ' - ' + event.location }}</option
					>
				</select>
			</div>

			<div class="p-6 my-10 border border-highlight">
				<div v-if="!form.email && !form.firstName" class="mb-8">
					<input
						type="file"
						name="file"
						accept="text/csv"
						class="input-file"
						@change="filesChange($event.target.files)"
					/>
					<p v-if="form.file" class="mt-10 text-green pl-4">
						You have loaded
						{{ massInviteList.length }} invitations.
					</p>
				</div>
				<div
					v-if="!form.file && !form.email && !form.firstName"
					class="my-20 py-4 border-b border-t border-alt text-alt"
				>
					OR
				</div>
				<div v-if="!form.file">
					<div class="mb-8 flex items-center">
						<input
							v-model="form.firstName"
							type="textbox"
							name="firstName"
							placeholder="Enter their first name ..."
						/>
						<input
							v-model="form.lastName"
							class="ml-8"
							type="textbox"
							name="lastName"
							placeholder="Enter their last name ..."
						/>
					</div>
					<!-- <div class="divider border-dim border my-12"></div> -->
					<div class="mb-8">
						<input
							v-model="form.email"
							type="textbox"
							name="email"
							placeholder="Enter their email address ..."
						/>
					</div>
				</div>
			</div>

			<div class="submit text-center">
				<a
					class="button"
					:class="[form.processing ? 'loading' : '']"
					@click="invite()"
					>Submit</a
				>
			</div>
			<div v-if="form.fails.length || form.success" class="fails my-10">
				<p v-if="form.fails.length <= 0">
					There were no failed invitations.
				</p>
				<div v-if="form.fails.length > 0">
					<p
						v-for="(fail, i) in form.fails"
						:key="i"
						class="border-b border-highlight pb-4 mb-4"
					>
						<span class="text-red">!!</span> An invitation to
						{{ fail.firstName }} {{ fail.lastName }} -
						{{ fail.email }} failed to send.
					</p>
				</div>
			</div>
		</form>
		<!-- </section> -->
	</div>
</template>

<script>
import User from '@/api/user'
import Event from '@/api/event'

export default {
	data: () => ({
		form: {
			firstName: '',
			lastName: '',
			email: '',
			template: {},
			event: {},
			processing: false,
			promo: {},
			file: false,
			success: 0,
			fail: 0,
			fails: []
		},
		promotions: [
			{ code: 'FFAMILY22', amount: '50%' },
			{ code: 'FHFAMILY', amount: '20%' },
			{ code: 'FHCOMMUNITY', amount: '15%' },
			{ code: 'FHFRIENDS', amount: '10%' }
		],
		templates: [
			// F Camp
			{
				id: 'd-11679c397c8c49dfa7e0ef5b8840dba5',
				name: 'F Invitation - HNW - Tier 2 - $3000',
				promo: false
			},
			{
				id: 'd-94d210b4e42a420d9c1059e15b1bb1cf',
				name: 'F Invitation - HNW - Tier 3 - $4000',
				promo: false
			},
			{
				id: 'd-e1d2c8d71fc54214ae46977e06a2f4b4',
				name: 'F Invitation - contributors',
				promo: false
			},
			{
				id: 'd-84c85593f73242b5b6da94c4b9544fa1',
				name: 'F Invitation - with promo code',
				promo: true
			},
			{
				id: 'd-e63595d9634c4603b3ba34dc45aede3c',
				name: 'F Invitation - without promo code',
				promo: false
			},
			{
				id: 'd-363731f38478449087f0774515bd9e81',
				name: 'FH Invitation - with promo code',
				promo: true
			},
			{
				id: 'd-3c41caf6747844d28a38acbea232269b',
				name: 'FH Invitation - without promo code',
				promo: false
			},
			{
				id: 'd-6eea1349383b4fa9adfaa60909cde4e7',
				name: 'FH Survey - Newcomer',
				promo: false
			},
			{
				id: 'd-55f01d09ada648aa821f0997b90f052d',
				name: 'FH - Account Setup',
				promo: false
			}

			// {
			// 	id: 'd-3c41caf6747844d28a38acbea232269b',
			// 	name: 'F Invitation - without promo code',
			// 	promo: false
			// },
			// {
			// 	id: 'd-6eea1349383b4fa9adfaa60909cde4e7',
			// 	name: 'F Survey - Newcomer',
			// 	promo: false
			// },
			// {
			// 	id: 'd-55f01d09ada648aa821f0997b90f052d',
			// 	name: 'F - Account Setup',
			// 	promo: false
			// }
		],
		events: [],
		massInviteList: []
	}),

	mounted() {
		const event = new Event()
		event.all().then(data => {
			// console.log('loaded events', data)
			this.events = data.data.reverse()
		})
	},
	methods: {
		async massInvite() {
			// console.log('mass inviting', this.massInviteList)
			this.form.success = 0
			this.form.fail = 0
			this.form.fails = []

			for (let mem of this.massInviteList) {
				this.form.processing = true
				let user = new User()

				try {
					// console.log(
					// 	'sending invite',
					// 	this.form.event.Id,
					// 	mem.firstName,
					// 	mem.lastName,
					// 	mem.email,
					// 	this.form.template,
					// 	this.form.promo.code,
					// 	this.form.promo.amount
					// )
					await user.invite(
						this.form.event.Id,
						mem.firstName,
						mem.lastName,
						mem.email,
						this.form.template,
						this.form.promo.code,
						this.form.promo.amount
					)

					this.form.success++
				} catch (e) {
					this.$store.dispatch('notify', { message: e })
					this.form.fail++
					this.form.fails.push({
						firstName: mem.firstName,
						lastName: mem.lastName,
						email: mem.email
					})
					continue
				} finally {
					this.form.processing = false
				}
			}

			this.$store.dispatch('notify', {
				type: this.form.success > 0 ? 'success' : '',
				message:
					this.form.success +
					' invitations were sent successfully. ' +
					(this.form.fail > 0
						? this.form.fail + ' invitations failed to send.'
						: 'No invitations failed to send.')
			})

			this.reset()
		},

		async invite() {
			if (this.form.file) return this.massInvite()

			if (this.form.processing) return
			this.form.processing = true

			let user = new User()
			try {
				await user.invite(
					this.form.event.Id,
					this.form.firstName,
					this.form.lastName,
					this.form.email,
					this.form.template,
					this.form.promo.code,
					this.form.promo.amount
				)
			} catch (e) {
				this.$store.dispatch('notify', { message: e })
				return
			} finally {
				this.form.processing = false
			}

			this.$store.dispatch('notify', {
				type: 'success',
				message: 'Invite has been sent to ' + this.form.email
			})

			this.reset()
		},
		reset() {
			this.form = {
				firstName: '',
				lastName: '',
				email: '',
				template: {},
				event: {},
				processing: false,
				promo: {},
				file: false,
				success: 0,
				fail: 0,
				fails: []
			}
		},
		filesChange(file) {
			this.form.file = file[0]
			this.massInviteList = []

			const reader = new FileReader()
			reader.onload = e => {
				const contents = e.target.result.split('\n')
				contents.map(l => {
					if (!l) return
					const cols = l.trim().split(',')
					//cols[0] === level
					//cols[1] === email
					//cols[2] === first name
					//cols[3] === last name
					//cols[4] === phone
					//cols[5] === organization
					//cols[6] === cred
					//cols[7] === list
					//cols[8] === nomination
					//cols[9] === short bio
					//cols[10] === member rating
					//cols[11] === optin_time

					cols[2] = cols[2] || ' '
					cols[3] = cols[3] || ' '

					if (
						!cols[1] ||
						!cols[1].includes('@') ||
						!cols[2] ||
						!cols[3]
					)
						return

					this.massInviteList.push({
						email: cols[1].trim(),
						firstName: cols[2].trim(),
						lastName: cols[3].trim()
					})
					// console.log('parsed', cols)
				})
			}
			reader.readAsText(this.form.file)
			// if (!fileList.length) return

			// append the files to FormData
		}
	}
}
</script>

<style lang="scss">
form input,
textarea {
	&,
	&::placeholder {
		@apply text-default text-left normal-case tracking-normal font-normal text-dim;
	}

	& {
		@apply text-light;
	}
}
</style>
