@mixin font-weight($weight) {
	@if type-of($weight)=='string' {
		font-weight: map-get($font-weight, $weight);
	}

	@else {
		font-weight: $weight;
	}
}

@mixin font-size($size) {
	@if type-of($size)=='string' {
		font-size: map-get($font-size, $size);
	}

	@else {
		font-size: $size;
	}
}

@mixin letter-spacing($size) {
	@if type-of($size)=='string' {
		letter-spacing: map-get($letter-spacing, $size);
	}

	@else {
		letter-spacing: $size;
	}
}

@mixin font-color($color) {
	@if type-of($color)=='string' {
		color: map-get($colors, $color);
	}

	@else {
		color: $color;
	}
}

@mixin font-family($family) {
	@if type-of($family)=='string' {
		font-family: map-get($font-family, $family);
	}
	@else {
		font-family: $family;
	}
}

@mixin text(
	$size: inherit,
	$color: inherit,
	$weight: inherit,
	$transform: '',
	$family: '',
	$spacing: ''
) {
	@if $size != '' {
		@include font-size($size);
	}

	@if $color != '' {
		@include font-color($color);
	}

	@if $weight != '' {
		@include font-weight($weight);
	}

	@if $transform != '' {
		text-transform: $transform;
	}

	@if $family != '' {
		@include font-family($family);
	}

	@if $spacing != '' {
		@include letter-spacing($spacing);
	}
}

@mixin flex-parent(
	$direction: '',
	$justify-content: '',
	$justify-items: '',
	$align-content: '',
	$align-items: '',
	$wrap: ''
) {
	display: flex;

	@if $direction != '' {
		flex-direction: $direction;
	}

	@if $justify-content != '' {
		justify-content: $justify-content;
	}

	@if $justify-items != '' {
		justify-items: $justify-items;
	}

	@if $align-content != '' {
		align-content: $align-content;
	}

	@if $align-items != '' {
		align-items: $align-items;
	}

	@if $wrap != '' {
		flex-wrap: $wrap;
	}
}

@mixin flex-child($flex: 1, $align-self: '', $justify-self: '') {
	flex: $flex;

	@if $align-self != '' {
		align-self: $align-self;
	}

	@if $justify-self != '' {
		justify-self: $justify-self;
	}
}

@mixin border($color: default, $location: '', $size: 1px, $type: solid) {
	$border: '';

	@if $location != '' {
		$border: 'border-' + $location;
	} @else {
		$border: 'border';
	}

	@if $color != transparent {
		@if type-of($color) == 'string' {
			$color: map-get($colors, $color);
		} @else {
			$color: $color;
		}
	}

	#{$border}: $size $type $color;
}

@mixin background-color($color) {
	@if type-of($color)=='string' {
		background-color: map-get($colors, $color);
	}

	@else {
		background-color: $color;
	}
}

@mixin effect(
	$effect,
	$duration: 1s,
	$infinite: false,
	$delay: 0s,
	$timing: 'ease',
	$fill: 'both'
) {
	animation-name: $effect;
	animation-fill-mode: both;
	animation-timing-function: $timing;
	animation-duration: $duration;
	animation-delay: $delay;
	transition: all $duration $timing;
	transition-delay: $delay;

	@if $infinite == true {
		animation-iteration-count: infinite;
	}
}

@mixin placeholder($color, $size: '') {
	&::-webkit-input-placeholder {
		color: $color;
		@if $size != '' {
			font-size: $size;
		}
	}

	&:-moz-placeholder {
		color: $color;
		@if $size != '' {
			font-size: $size;
		}
	}

	&::-moz-placeholder {
		color: $color;
		@if $size != '' {
			font-size: $size;
		}
	}

	&:-ms-input-placeholder {
		color: $color;
		@if $size != '' {
			font-size: $size;
		}
	}
}

@mixin scrollbars(
	$size,
	$foreground-color,
	$background-color: mix($foreground-color, #fff, 50%)
) {
	@include media('<de') {
		-webkit-overflow-scrolling: touch;
	}

	// sass-lint:disable no-vendor-prefixes
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
	}
}

@mixin multi-line-ellipsis($line-height: 1.22rem, $line-count: 1) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $line-count;
	-webkit-box-orient: vertical;
	max-height: $line-height * $line-count;
	text-overflow: -o-ellipsis-lastline;
}
