@import 'screen';

.video {
//   max-width: none;

//   .wrap {
//     @apply px-0;
//     max-width: none;
//   }
}

.video-e {
  // @apply bg-alt min-w-full;
  // height: 800px;

  @include media('<de') {
    // height: 200px;
  }

  .video-embed {
    // max-width: 1520px;
    margin: 0 auto;
    width: 100%;
    height: 51vw;

    &--portrait {
      @apply mb-10;

      height: 500px;
    }
  }
}
