:root {
	--fclip: polygon(50% 0%, 80% 100%, 20% 100%);
	--color-bg-item: #000;
}

#fps,
#numParticles {
	position: absolute;
	z-index: 3;
	top: 50px;
	left: 50px;
	color: white;
}

#fps {
	top: 25px;
}

.Background {
	position: absolute;
	// top: 0;
	// right: 0;
	top: 0;
	left: 0;

	clip-path: var(--fclip);
	opacity: 1;

	// width: 750px;
	// height: 750px;
	width: 100vw;
	height: 100vh;
	// height: 100%;

	.Fire-canvas {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
	}
	// canvas {
	// 	width: 100vw;
	// 	height: 100vh;

	// 	background: transparent;
	// }
}

// .Background::after {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: linear-gradient(
// 		135deg,
// 		rgba(0, 0, 0, 0.5),
// 		transparent 50%,
// 		rgba(0, 0, 0, 0.5)
// 	);
// }

.screens,
.screen__item,
.screen {
	top: 0;
	left: 0;
	position: absolute;
	// height: auto;
	// height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	// width: 750px;
	// height: 750px;
}

.screen__item {
	opacity: 1;
	background: var(--color-bg-item);
	z-index: 1;
	pointer-events: none;
}

.screen__item:first-child {
	opacity: 0.2;
	z-index: 100;
}

.screen {
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	background-image: var(--bg-img);
	will-change: opacity;
	pointer-events: none;

	// .FH20221 & {
	// 	background-image: url('/images/events/covers/FH20221.jpg');
	// }

	// .FH20211 & {
	// 	background-image: url('/images/events/covers/FH20211.jpg');
	// }
	// .FH20202 & {
	// 	background-image: url('/images/events/covers/FH20202.jpg');
	// }
	// .FH20201 & {
	// 	background-image: url('/images/events/covers/FH20201.jpg');
	// }
	// .F2019 & {
	// 	background-image: url('/images/events/covers/F2019.jpg');
	// }

	// .F2018 & {
	// 	background-image: url('/images/events/covers/F2018.jpg');
	// }

	&--full {
		opacity: 0.4;
		will-change: transform;
		// transform: scale3d(1, 1, 1);
		// display: none;
	}

	&--fclip {
		clip-path: var(--fclip);
		opacity: 1;
		z-index: 10;
		position: relative;

		&:before {
			content: ' ';
			top: 0;
			left: 0;
			position: absolute;

			background: black;
			opacity: 0.35;
			width: 100vw;
			height: 100vh;
			clip-path: var(--fclip);
		}
	}
}
