<template>
	<div class="flex flex-wrap justify-around wrap">
		<human
			v-for="attendee in filteredAttendees"
			:key="attendee.Id"
			:name="`${attendee.user.firstName} ${attendee.user.lastName}`"
			:about="`${attendee.user.bio || ''}`"
			:image="
				`${
					attendee.user.image
						? 'https://futurehorizonimages.s3.amazonaws.com/' +
						  attendee.user.image
						: ''
				}`
			"
			:website="attendee.user.website"
			:linkedin="attendee.user.linkedin"
			:twitter="attendee.user.twitter"
			:instagram="attendee.user.instagram"
			:discord="attendee.user.discord"
		/>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</template>

<script>
import Event from '@/api/event'

export default {
	props: { blok: { type: Object, default: () => ({}) } },
	data: () => ({
		attendees: { data: [] }
	}),
	computed: {
		filteredAttendees() {
			if (!this.attendees) return []
			let attendees = this.attendees.data.filter(a =>
				(a.user.firstName || '').trim()
			)

			let compare = (a, b) => {
				console.log('comparing ', a, ' to ', b)
				if (a.user.firstName < b.user.firstName) {
					return -1
				}
				if (a.user.firstName > b.user.firstName) {
					return 1
				}
				return 0
			}
			console.log('attendees', attendees)

			return attendees.sort(compare)
		}
	},

	async created() {
		let event = await this.$storyapi.get(`cdn/stories/${this.blok.event}`, {
			find_by: 'uuid',
			version: this.isDev ? 'draft' : 'published',
			cv: this.$store.state.cacheVersion
		})
		// events = event.data.stories
		let slug = event?.data.story.slug
		let e = new Event()

		// console.log('getting attendees for', slug)

		this.attendees = await e.getAttendees(slug)

		// console.log('got attendees', this.attendees)
	},
	mounted() {
		// console.log('attendees', this.blok)
	}
}
</script>
