<template>
	<div
		v-if="blok.text"
		v-editable="blok"
		class="flex flex-col items-center justify-center"
		:class="[blok.padding]"
	>
		<a
			v-if="blok.link"
			:target="blok.link.target"
			:href="
				`${
					blok.link.cached_url.includes('http')
						? blok.link.cached_url
						: '/' + blok.link.cached_url
				}`
			"
			class="button nuxt-link-active"
		>
			{{ blok.text }}
		</a>
		<span v-if="!blok.link">{{ blok.text }}</span>
	</div>
</template>

<script>
export default {
	props: { blok: { type: Object, default: () => ({}) } },
	mounted() {
		console.log(this.blok)
	}
}
</script>
