<template>
	<div class="card">
		<div v-if="blok.image" class="image">
			<a :href="blok.link" target="_blank"
				><img :src="blok.image.filename"
			/></a>
		</div>
		<div class="info">
			<h5 class="title mb-8" v-html="blok.title"></h5>
			<div v-html="richtext"></div>
		</div>
	</div>
</template>

<script>
import storyblokHelpers from '@/mixins/storyblokHelpers'
export default {
	mixins: [storyblokHelpers],
	props: { blok: { type: Object, default: () => ({}) } },

	computed: {
		richtext() {
			// console.log('rendering richtext');
			const richtext = this.$storyapi.richTextResolver.render(
				this.blok.text
			)
			return richtext
			// return '';
		}
	}
}
</script>

<style lang="scss">
.card {
	@apply bg-light tracking-wider my-5;
	// border border-solid border-dark

	max-width: 440px;

	@include media('<1520px') {
		max-width: 420px;
	}

	.image {
		@apply bg-alt w-full;
		// height: 280px;

		a {
			@apply block;
		}
	}

	.info {
		@apply px-5 pt-4 pb-10;
	}
}
</style>
