<template>
	<section
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		v-editable="blok"
		:class="[blok.paddingX, blok.paddingY, blok.margin]"
	>
		<div class="flex block-center" :class="[blok.wrap ? 'wrap' : '']">
			<div class="col">
				<h5 v-if="blok.subtitle" v-html="blok.subtitle"></h5>
				<h2 v-if="blok.title" class="">
					<span
						v-html="
							blok.title
								.split(' ')
								.slice(0, -1)
								.join(' ')
						"
					></span>
					<span
						:class="[
							blok.title.split(' ').length > 1
								? 'text-highlight'
								: ''
						]"
						v-html="
							blok.title
								.split(' ')
								.slice(-1)
								.join(' ')
						"
					></span>
				</h2>
				<div v-editable="blok">
					<component
						:is="b.component | dashify"
						v-for="b in blok.body"
						:key="b._uid"
						:blok="b"
					></component>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	}
}
</script>
