<template>
	<section
		v-if="
			(story.content.access_password &&
				story.content.access_password.length > 0 &&
				!permitted(story.id)) === true
		"
		v-editable="blok"
	>
		<form
			id="eventPassword"
			class="text-center"
			@submit.prevent="submitForm"
		>
			<h3 class="text-biggest mb-6 text-center">
				{{ blok.title || 'Enter Access Password' }}
			</h3>
			<p v-if="form.error" class="error text-red">
				{{
					blok.error ||
						'The access password you entered is incorrect.'
				}}
			</p>
			<input
				v-model="form.password"
				type="textbox"
				name="password"
				placeholder="Enter Password"
				required
				@keydown="form.error = false"
			/>
			<br />
			<input
				v-if="!form.success && !form.error"
				type="submit"
				value="Submit"
				name="submit"
				class="button"
			/>
		</form>
	</section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		story: { type: Object, default: () => ({}) }
	},

	data() {
		return {
			form: {
				success: false,
				error: false,
				password: ''
			}
		}
	},
	computed: {
		...mapGetters('event', ['permitted'])
	},
	mounted() {
		// console.log(
		// 	'event password component',
		// 	'password',
		// 	this.story.content.access_password,
		// 	'length',
		// 	this.story.content.access_password &&
		// 		this.story.content.access_password.length > 0,
		// 	'permitted',
		// 	!this.permitted(this.story.id),
		// 	'total',
		// 	this.story.content.access_password &&
		// 		this.story.content.access_password.length > 0 &&
		// 		!this.permitted(this.story.id)
		// )
	},
	methods: {
		submitForm() {
			const found =
				this.story.content.access_password === this.form.password

			console.log(
				'found',
				found,
				this.story.content.access_password,
				this.form.password
			)

			if (found) {
				this.$store.dispatch('event/permit', this.story.id)
			} else {
				this.form.error = true
			}
		}
	}
}
</script>

<style lang="scss">
@import 'event-password';
</style>
