<template>
	<section>
		<div class="flex flex-col items-center justify-center pb-32">
			<h5 class="text-light">Inspired?</h5>
			<nuxt-link to="/events" class="button mt-8">More Events</nuxt-link>
		</div>
	</section>
</template>

<script>
export default {}
</script>
