<template>
	<section
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		v-editable="blok"
		class="border border-highlight p-8"
	>
		<a id="eventregister"></a>
		<h3 class="text-center text-large mb-10">
			{{ blok.title || 'Register for the event' }}
		</h3>
		<!-- {{ blok.event }} -->
		<div v-if="!me.Id" class="event-register-prefix text-center">
			<nuxt-link
				class="button"
				:to="`/login?return=/events/${eventSlug}#eventregister`"
				>Login</nuxt-link
			>
			<p class="text-center my-2">or</p>
			<nuxt-link
				class="button"
				:to="`/register?return=/events/${eventSlug}#eventregister`"
				>Create An Account</nuxt-link
			>
		</div>
		<div v-if="me.Id" class="event-register-prefix text-center">
			<a
				href=""
				class="button"
				:class="form.loading ? 'loading' : ''"
				@click.prevent="joinEvent()"
				>{{ blok.button_text || 'CLICK HERE TO REGISTER' }}</a
			>
		</div>
	</section>
</template>

<script>
import { mapState } from 'vuex'
import Me from '@/api/me'

export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	},
	data() {
		return {
			eventSlug: '',
			loading: false,
			form: {
				success: false,
				error: false,
				password: '',
				loading: false
			}
		}
	},

	computed: {
		...mapState('auth', ['me'])
	},

	async created() {
		let event = await this.$storyapi.get(`cdn/stories/${this.blok.event}`, {
			find_by: 'uuid',
			version: this.isDev ? 'draft' : 'published',
			cv: this.$store.state.cacheVersion
		})
		// events = event.data.stories
		this.eventSlug = event?.data.story.slug
	},

	mounted() {
		console.log('loaded event register', this.blok)
	},
	methods: {
		async joinEvent() {
			if (this.form.loading) return

			this.form.loading = true

			let me = new Me()
			try {
				await me.joinEvent(this.eventSlug)
				// let _t = this.$cookies.get('_t')
				this.$store.dispatch('auth/getEvents')
				this.$router.push('/me')
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'We were unable to register you for the event.'
				})
			} finally {
				this.form.loading = false
			}
		}
	}
}
</script>

<style lang="scss">
@import 'event-password';
</style>
