<template>
	<div class="partners">
		<h5 class="text-center">Partners &amp; Sponsors</h5>
		<div class="images">
			<a href="https://hookooekoo.co/" target="_blank"
				><img src="/images/partners/hookooekoo.png"
			/></a>
			<a href="https://hookooekoo.co/" target="_blank"
				><img src="/images/partners/recyclego.png"
			/></a>
			<a href="http://www.susimai.com/" target="_blank"
				><img src="/images/partners/migo.png"
			/></a>
			<a href="http://www.oceanic-global.com/" target="_blank"
				><img src="/images/partners/oceanic-global.png"
			/></a>
			<a href="https://www.globalcoralition.org/" target="_blank"
				><img src="/images/partners/globalcoralition.png"
			/></a>
			<a href="https://cupzero.com/" target="_blank"
				><img src="/images/partners/cup-zero.png"
			/></a>
			<a href="https://www.ultramarineocean.com/" target="_blank"
				><img src="/images/partners/ultramarine.png"
			/></a>
			<a href="https://www.sxmfestival.com/" target="_blank"
				><img src="/images/partners/sxm.png"
			/></a>
			<a href="http://www.susimai.com/" target="_blank"
				><img src="/images/partners/susi.png"
			/></a>
			<a href="http://www.ocn.ai/" target="_blank"
				><img src="/images/partners/ocean.png"
			/></a>
			<a href="https://zerospace.co/" target="_blank"
				><img src="/images/partners/zerospace.png"
			/></a>
			<a href="https://www.coronausa.com/" target="_blank"
				><img src="/images/partners/corona.png"
			/></a>
			<a href="https://mezcalxaman.com/" target="_blank"
				><img src="/images/partners/xaman.png"
			/></a>
			<a href="https://f.camp/" target="_blank"
				><img src="/images/partners/f.png"
			/></a>
			<a></a>
			<a></a>
			<a></a>
			<a></a>
			<!-- <img class="invisible" />
					<img class="invisible" />
					<img class="invisible" />
					<img class="invisible" />
					<img class="invisible" />
					<img class="invisible" /> -->
		</div>
	</div>
</template>

<script>
export default {
	name: 'FH1Partners'
}
</script>

<style lang="scss">
@import 'fh1.partners';
</style>
