.partners1 {
	@include media('<de') {
		flex: 1 1 100%;
	}

	h4 {
		@apply text-center font-normal
				mb-6;

		// margin: 0 0 30px 0;
	}

	.images {
		@apply flex justify-between items-center flex-wrap mt-5;

		@include media('<hd') {
			@apply px-6;
			// padding-right: 30px;
			// padding-left: 30px;
			// flex-wrap: wrap;
		}

		@include media('<de') {
			// @apply flex-col;
			@apply px-0 justify-around;
		}

		a {
			@apply mx-5 my-5;

			img {
				max-height: 50px;
				min-height: 30px;
				width: auto;
				max-width: 200px;
				// margin: 40px 10px;
				opacity: 0.75;
				transition: all 0.3s;

				@include media('<de') {
					max-width: 110px;
				}

				&:hover {
					opacity: 1;
				}

				&:nth-child(6) {
					display: none;
					height: 80px;
					max-height: none;
				}

				&:nth-child(7) {
					// height: 39px;
					width: 200px;
					// max-height: none;
				}
			}
		}
	}
}
