<template>
	<div>
		<div class="un-callout">
			<span>Future Horizon is an endorsed Ocean Decade Action</span>
			<a href="https://www.oceandecade.org/" target="_blank"
				><img src="/images/partners/unoceanscience.png"
			/></a>
		</div>
		<div class="partners">
			<h5 class="text-center">Partners &amp; Sponsors</h5>
			<div class="images">
				<a href="https://hookooekoo.co/" target="_blank"
					><img src="/images/partners/hookooekoo.png"
				/></a>
				<a href="https://h2.live/en/" target="_blank"
					><img src="/images/partners/h2mobility.png"
				/></a>
				<a href="https://www.ideo.com/" target="_blank"
					><img src="/images/partners/ideo.png"
				/></a>
				<a href="https://climeworks.com/f" target="_blank"
					><img src="/images/partners/climeworks.png"
				/></a>
				<a href="https://www.globalcoralition.org/" target="_blank"
					><img src="/images/partners/globalcoralition.png"
				/></a>
				<a href="https://genuineway.io/" target="_blank"
					><img src="/images/partners/genuineway-white.png"
				/></a>
				<a href="https://www.galaxygives.com/" target="_blank"
					><img src="/images/partners/galaxygives.png"
				/></a>
				<a href="https://www.girlmove.org/" target="_blank"
					><img src="/images/partners/girlmove.png"
				/></a>
				<a href="https://www.wwbt.org/" target="_blank"
					><img src="/images/partners/wwbt.png"
				/></a>
				<a href="https://xpollination.org/" target="_blank"
					><img src="/images/partners/xpollination.png"
				/></a>
				<a href="https://www.tartamare.org/" target="_blank"
					><img src="/images/partners/tartamare-bw.png"
				/></a>
				<a href="https://www.ultramarineocean.com/" target="_blank"
					><img src="/images/partners/ultramarine.png"
				/></a>
				<a href="https://www.outdoorportofino.com/en/" target="_blank"
					><img src="/images/partners/outdoorportofino.png"
				/></a>
				<a href="https://www.calafalcone.com/" target="_blank"
					><img src="/images/partners/calafalcone.png"
				/></a>
				<a href="https://f.camp/" target="_blank"
					><img src="/images/partners/f.png"
				/></a>
				<a></a>
				<a></a>
				<a></a>
				<a></a>
				<a></a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'FH211Partners'
}
</script>

<style lang="scss">
@import 'fh211.partners';
</style>
