<template>
	<div id="form-confirm">
		<form id="confirmForm" class="text-center" @submit.prevent="submitForm">
			<p v-if="form.error" class="error">
				The password you entered is incorrect.
			</p>
			<input
				v-model="form.password"
				type="textbox"
				name="password"
				placeholder="Enter Password"
				required
				@keydown="form.error = false"
			/>
			<br />
			<input
				v-if="!form.success && !form.error"
				type="submit"
				value="Submit"
				name="submit"
				class="button"
			/>
		</form>
	</div>
</template>

<script>
export default {
	props: {
		password: { type: String, default: '' },
		passwords: { type: Array, default: () => [] }
	},
	data() {
		return {
			form: {
				success: false,
				error: false,
				password: ''
			}
		}
	},
	mounted() {},
	methods: {
		submitForm() {
			const found = this.passwords.find(
				p =>
					p.password.toLowerCase() ===
					this.form.password.toLowerCase()
			)

			// console.log('submitted form, found', found)

			if (found) {
				this.$store.dispatch('auth/permit', found)
				this.$router.push('/submit')
			} else {
				this.form.error = true
			}
		}
	}
}
</script>

<style lang="scss">
@import 'form-confirm';
</style>
