<template>
	<section
		v-if="
			((parentProtected && blok.show_if_protected) || !parentProtected) &&
				!(blok.hide_if_authorized && !parentProtected)
		"
		v-editable="blok"
		class="signup"
		:class="[blok.padding]"
	>
		<div class="wrap">
			<div id="form-invite">
				<a id="join"></a>
				<h3 v-if="blok.title" class="text-biggest mb-6 text-center">
					{{ blok.title }}
				</h3>
				<form
					id="submitForm"
					action="/"
					method="POST"
					name="invite"
					class="text-center"
					data-netlify-honeypot="dontfill"
					data-netlify="true"
					@submit.prevent="submitForm"
				>
					<input type="hidden" name="form-name" value="invite" />
					<input type="hidden" name="form-org" :value="blok.org" />
					<input type="hidden" name="form-event" :value="eventSlug" />
					<span class="hideme"><input name="dontfill"/></span>
					<p v-if="form.error" class="error">
						There was an error requesting an invite
					</p>
					<input
						v-model="form.email"
						type="textbox"
						name="email"
						:placeholder="blok.input_placeholder"
						required
						class="text-center"
					/>
					<br />
					<input
						v-if="!form.success && !form.error"
						type="submit"
						:value="blok.button_text"
						name="submit"
						class="button text-center"
					/>
					<span v-if="form.success" class="button text-center mx-auto"
						>We will be in touch. <br /><br />
						Please check your email for the community application
						form.</span
					>
				</form>
			</div>
		</div>
	</section>
</template>

<script>
import axios from 'axios'
import consola from 'consola'
import User from '@/api/user'

export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	},

	data() {
		return {
			form: {
				success: false,
				error: false,
				email: ''
			},
			eventSlug: ''
		}
	},
	async created() {
		try {
			let event = await this.$storyapi.get(
				`cdn/stories/${this.blok.event}`,
				{
					find_by: 'uuid',
					version: this.isDev ? 'draft' : 'published',
					cv: this.$store.state.cacheVersion
				}
			)
			// events = event.data.stories
			this.eventSlug = event?.data?.story?.slug
		} catch (e) {
			//
		}
	},
	mounted() {
		console.log(
			'invite-form',
			'parent',
			this.parentProtected,
			'show',
			this.blok.show_if_protected,
			'hide',
			this.blok.hide_if_authorized
		)
	},
	methods: {
		encode(data) {
			return Object.keys(data)
				.map(
					key =>
						`${encodeURIComponent(key)}=${encodeURIComponent(
							data[key]
						)}`
				)
				.join('&')
		},
		submitForm() {
			const axiosConfig = {
				header: { 'Content-Type': 'application/x-www-form-urlencoded' }
			}

			new User().requestInvite(
				this.form.email,
				this.blok.org,
				this.eventSlug
			)

			return axios
				.post(
					'/',
					this.encode({
						'form-name': 'invite',
						'form-org': this.blok.org,
						'form-event': this.eventSlug,
						...this.form
					}),
					axiosConfig
				)
				.then(
					() => {
						consola.log('submitted form', 'success')
						this.form.success = true
						return true
					},
					() => {
						consola.log('submitted form', 'error')
						this.form.error = true
						return false
					}
				)
				.finally(() => {
					consola.log('submitted form', 'final')
				})
		}
	}
}
</script>

<style lang="scss">
@import 'form-invite';
</style>
