<template>
	<section
		v-editable="blok"
		class="gallery"
		:class="[blok.paddingY, blok.paddingX]"
	>
		<div v-if="blok.title" class="wrap">
			<h2 v-html="blok.title"></h2>
		</div>
		<div v-if="blok.key_image && blok.key_image.filename" class="focus">
			<div class="image">
				<img class="w-full min-h-full" :src="blok.key_image.filename" />
			</div>
		</div>
		<div
			:class="theatre ? 'show' : ''"
			class="theatre"
			@click="theatre = ''"
		>
			<img :src="theatre" />
		</div>
		<div class="wrap board">
			<div class="col">
				<sb-image
					v-for="image in blok.images"
					:key="image._uid"
					:image="image"
					@click.native="showTheatre(image.filename)"
				></sb-image>

				<!-- <sb-image :blok="image" /> -->
			</div>
		</div>
		<div
			v-if="blok.read_more_link && blok.read_more_link.cached_url"
			class="readmore"
		>
			<nuxt-link
				:to="`/${blok.read_more_link.cached_url}`"
				class="button button"
				>{{ blok.read_more_text || 'View More' }}</nuxt-link
			>
		</div>
	</section>
</template>

<script>
// import _ from 'lodash'

export default {
	props: {
		title: { type: String, default: 'Gallery' },
		focus: { type: String, default: '' },
		readmore: { type: String, default: '' },
		readmoreText: { type: String, default: 'View More' },
		colCount: { type: Number, default: 2 },
		blok: { type: Object, default: () => ({}) }
	},
	data() {
		return {
			cols: [],
			theatre: ''
		}
	},
	mounted() {},
	methods: {
		showTheatre(img) {
			// console.log('showing theatre', img)
			if (this.theatre === img) {
				this.theatre = ''
			} else {
				this.theatre = img
			}
		}
	}
}
</script>

<style lang="scss">
@import 'gallery';
</style>
