.gallery {
	.focus {
		@apply bg-light min-w-full my-20;

		// min-height: 350px;

		@include media('<de') {
			@apply my-10;

			// height: 200px;
		}
	}

	.theatre {
		@apply fixed h-screen w-screen flex items-center justify-center;
		top: 0%;
		left: 0%;
		// transform: translate(-50%, -50%);
		z-index: 99999;

		opacity: 0;
		transition: opacity 0.5s ease;
		pointer-events: none;

		background: rgba(30, 32, 33, 0.75);

		cursor: pointer;

		&.show {
			opacity: 1;
			pointer-events: auto;
		}

		img {
			box-shadow: 0 0 10px -2px black;

			max-width: 85%;
			max-height: 85%;
		}
	}

	.board {
		@apply px-4 max-w-none flex justify-around mt-10;

		@include media('<de') {
			width: 100%;
			max-width: none;

			.image {
				// margin-bottom: 4rem !important;
			}
		}

		.col {
			// max-width: 45%;
			//mt-24 mx-10 flex flex-wrap justify-around items-center flex-grow flex-shrink
			@apply px-0;

			display: grid;
			grid-template-columns: 1fr;
			// grid-template-areas: ' . | image | .';
			row-gap: 50px;
			align-items: center;

			width: 100%;

			@screen ta {
				@apply px-10;

				grid-template-columns: 1fr 1fr;
				column-gap: 50px;
			}

			.image {
				// max-width: 650px;

				// @apply mt-20;

				@include media('<de') {
					max-width: 100%;
				}

				&:hover {
					@apply cursor-pointer;

					img {
						opacity: 1;
					}
				}

				img {
					@apply w-full h-full;
					object-fit: contain;
					box-shadow: 0 0 5px black;
					background: rgba(30, 32, 33, 1);
					opacity: 0.8;
					transition: opacity ease 0.5s;
				}

				// width: 460px;
				// height: 585px;
			}
		}
	}

	.readmore {
		@apply flex justify-center mt-20;

		a {
			@apply px-20;
		}
	}
}
