<template>
	<section
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		id="grid-section"
		v-editable="blok"
		class="grid gap-y-4"
		:class="[
			blok.margin,
			blok.paddingX,
			blok.paddingY,
			blok.constrain,
			blok.cols,
			blok.y_gap,
			blok.x_gap,
			blok.wrap ? 'wrap' : '',
			blok.width ? `${blok.width}` : ''
		]"
	>
		<component
			:is="b.component | dashify"
			v-for="b in blok.columns"
			:key="b._uid"
			:blok="b"
		></component>
	</section>
</template>

<script>
export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	},
	mounted() {
		console.log('grid protected', this.blok)
		// console.log('mounted hero', this.blok)
	}
}
</script>
