section.hero {
	@apply bg-transparent pb-0;

	min-height: 100vh;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('/images/moon-cell-grid-01-a50.png');
	background-attachment: fixed;
	background-position: center;
  background-size: cover;
	text-shadow: 0 0 10px black;
	// position: relative;

	#bgVideo {
		@apply absolute top-0 bottom-auto min-w-full opacity-50 min-h-screen max-h-screen bg-main object-cover;
		z-index: 1;
		// z-index: -1;
		// transform: translateZ(-1px) scale(1.5);
	}

	.wrap {
		@apply justify-center relative z-10;

		max-width: 500px;
		width: 100%;

		@include media('<de') {
			display: block;
		}

		.intro {
			@apply text-light text-center mt-8;
		}
	}

	h1,
	img {
		@apply mt-12;
		animation: scalein 6s, fadein 6s;
	}

	img.flogo {
		@apply mx-auto;

		width: 120px;
	}

	h1 {
		margin-top: 130px;
		position: relative;

		span {
			letter-spacing: 5px;
			color: #d6af89;
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 10px;
			font-family: Roboto, sans-serif;
		}
	}
}
