<template>
	<section
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		v-editable="blok"
		class="hero pt-0"
		:style="{
			'background-image': `url('${currentBackgroundImage}')`
		}"
	>
		<video
			v-if="blok.video && blok.video.filename"
			id="bgVideo"
			autoplay
			muted
			loop
			preload="auto"
			playsinline
		>
			<source
				:src="`${blok.video.filename}`"
				preload="auto"
				type="video/mp4"
			/>
		</video>
		<div id="hero-content" class="wrap">
			<sb-image
				v-if="blok.cover_logo && blok.cover_logo.filename"
				:image="blok.cover_logo"
			></sb-image>
			<img
				v-if="!blok.cover_logo || !blok.cover_logo.filename"
				class="flogo"
				alt="F Camp 2019"
				src="/images/logo.svg"
			/>
			<h1>
				{{ blok.title }} <span>{{ blok.subtitle }}</span>
			</h1>

			<h5
				class="intro"
				v-html="blok.subtext || 'Envision, Build, Celebrate'"
			></h5>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		video: { type: String, default: 'bg-vid.mp4' },
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false } //is the parent protected
	},
	computed: {
		currentBackgroundImage() {
			return this.blok?.bg_image?.filename
		}
	},
	mounted() {
		console.log('hero event protected', this.blok)
		// console.log('mounted hero', this.blok)
	}
}
</script>

<style lang="scss">
@import 'hero';
</style>
