<template>
	<div class="card-human">
		<div class="mb-10">
			<profile-image
				v-if="image"
				:width="160"
				:height="160"
				class="flex-shrink-0"
				:src="image"
			/>
			<img v-else src="/images/logo_loop_square.gif" />
		</div>
		<h3 class="leading-7 mb-4">{{ name }}</h3>
		<p v-if="about" class="card-human-about">
			{{ about.substring(0, expand ? 999999999 : 120)
			}}{{ !expand && about.length > 150 ? '...' : '' }}

			<a
				v-if="about.length > 150"
				href=""
				@click.prevent="expand = !expand"
			>
				{{ expand ? 'hide' : 'expand' }}</a
			>
		</p>

		<div class="icons mt-4 flex items-center">
			<a
				v-if="linkedin"
				target="_blank"
				:href="
					`https://linkedin.com/in/${linkedin.replace(
						'https://www.linkedin.com/in/',
						''
					)}`
				"
				class="fa fa-linkedin no-underline ml-4"
			></a>
			<a
				v-if="twitter"
				target="_blank"
				:href="
					`https://twitter.com/${twitter.replace(
						'https://twitter.com/',
						''
					)}`
				"
				class="fa fa-twitter no-underline ml-4"
			></a>
			<a
				v-if="instagram"
				target="_blank"
				:href="
					`https://instagram.com/${instagram
						.replace('https://www.instagram.com/', '')
						.replace('@', '')}`
				"
				class="fa fa-instagram no-underline ml-4"
			></a>

			<a
				v-if="website"
				class="social-link fa fa-globe no-underline ml-4"
				:href="`https://${website.replace('https://', '')}`"
				target="_blank"
			>
			</a>
			<span v-if="discord" class="flex items-center ml-4"
				><span class="fab fa-discord no-underline"></span>
				<span class="text-smallest ml-1">@{{ discord }}</span></span
			>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		image: { type: String, default: '' },
		name: { type: String, default: '' },
		about: { type: String, default: '' },
		linkedin: { type: String, default: '' },
		instagram: { type: String, default: '' },
		twitter: { type: String, default: '' },
		discord: { type: String, default: '' },
		website: { type: String, default: '' }
	},
	data: () => ({
		expand: false
	})
}
</script>

<style lang="scss">
@import 'human.scss';

.icons {
	:nth-child(1) {
		@apply ml-0 #{!important};
	}
}
</style>
