.card-human {
	@apply py-10 px-5;

	width: 300px;
	// height: 500px;
	font-size: 14px;
	// float: left;

	img {
		width: 160px;
		height: 160px;
		border-radius: 100px;
		// margin-bottom: 40px;
	}

	h3 {
		font-size: 24px;
	}

	p {
	}
}
