<template>
	<div
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		class="col"
	>
		<h5>{{ blok.title }}</h5>
		<ul
			v-editable="blok"
			:class="[
				blok.text_align,
				blok.paddingX,
				blok.paddingY,
				blok.tracking,
				blok.text_wrap ? 'whitespace-no-wrap' : ''
			]"
		>
			<component
				:is="b.component | dashify"
				v-for="b in blok.items"
				:key="b._uid"
				:blok="b"
			></component>
		</ul>
	</div>
</template>

<script>
export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	}
}
</script>
