<template>
	<nav>
		<ul>
			<li><nuxt-link to="/">Home</nuxt-link></li>
			<li><nuxt-link to="/events">Events</nuxt-link></li>
			<li><nuxt-link to="/about">About</nuxt-link></li>
			<li><nuxt-link to="/impact">Impact</nuxt-link></li>
			<li v-if="me.Id">
				<nuxt-link class="" to="/me">My Profile</nuxt-link>
			</li>
			<!-- <li v-if="me.Id">
				<nuxt-link class="button button--small" to="/events/FH20221/hub"
					>Event Hub</nuxt-link
				>
			</li> -->
			<li v-if="me.Id && me.role >= 1">
				<nuxt-link class="button button--small" to="/admin"
					>Admin</nuxt-link
				>
			</li>
			<li v-if="!me.Id">
				<a href="https://app.future.quest">Login</a>
			</li>
		</ul>
	</nav>
</template>

<script>
export default {
	props: {
		me: {
			type: Object,
			default: () => ({})
		}
	},
	mounted() {}
}
</script>

<style lang="scss">
@import 'nav';
</style>
