nav {
	// @screen ta {
		@apply absolute z-10 w-full top-0;
	// }

	ul {
		@apply flex pt-4 overflow-x-auto;
		@screen ta {
			@apply flex justify-center items-center pt-4 overflow-x-auto;
		}

		> li {
			@apply py-0 my-4;

			@screen ta {
				@apply my-0
			}

			a {
				@apply text-small mx-4 py-2 no-underline tracking-wide whitespace-no-wrap;
			}
		}
	}

	> li {
		// text-transform: uppercase;

		&.active {
			color: #d6af89;
		}
	}

	// .button {
	// 	display: inline-block;

	// 	&.outline {
	// 		border: 1px solid #d6af89;

	// 		&.active {
	// 			background-color: #d6af89;
	// 			color: black;
	// 		}
	// 	}
	// }
}
