<template>
	<div
		v-if="notifications.length > 0"
		class="notifications ta:w-1/2 fixed top-0 pt-10 z-50 "
	>
		<div
			v-for="(n, index) in notifications"
			:key="index"
			class="notification cursor-pointer mb-10 border border-x-4 p-4 rounded-md flex items-center w-full bg-main"
			:class="[n.type === 'error' ? 'border-red' : 'border-green']"
			@click="removeNotification(n)"
		>
			<p>{{ n.message }}</p>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	computed: {
		...mapState(['notifications'])
	},

	methods: {
		removeNotification(n) {
			// console.log('removing notification', n)
			this.$store.dispatch('removeNotification', n.message)
		}
	}
}
</script>

<style lang="scss">
.notifications {
	left: 50%;
	transform: translateX(-50%);

	.notification {
		box-shadow: 0 2px 3px black;
	}
}
</style>
