<template>
	<section class="joinus">
		<div class="top parallax">
			<div class="wrap block-center">
				<h2 v-html="blok.title"></h2>
			</div>
		</div>
		<div class="bottom">
			<div class="wrap flex block-center">
				<div class="col col--left">
					<h2 v-html="blok.subtitle"></h2>
				</div>
				<div v-if="blok.button_link.cached_url" class="col col--right">
					<nuxt-link
						:to="blok.button_link.cached_url"
						class="button outline"
						>{{ blok.button_text }}</nuxt-link
					>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	props: { blok: { type: Object, default: () => ({}) } }
}
</script>
