<template>
	<section
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
	>
		<div class="wrap">
			<div class="partners">
				<h5 class="text-center">{{ blok.title }}</h5>
				<div class="images">
					<component
						:is="b.component | dashify"
						v-for="b in blok.partners"
						:key="b._uid"
						:blok="b"
					></component>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	}
}
</script>
