<template>
	<div :style="{ width: width + 'px', height: height + 'px' }">
		<img
			:src="src"
			:style="{ width: width + 'px', height: height + 'px' }"
		/>
	</div>
</template>

<script>
export default {
	props: {
		src: { default: '', type: String },
		width: { default: 150, type: Number },
		height: { default: 150, type: Number }
	}
}
</script>

<style lang="scss" scoped>
div {
	@apply border border-accent overflow-hidden flex justify-around items-center;

	border-radius: 100%;

	img {
		object-fit: cover;
	}
}
</style>
