<template>
	<div class="image">
		<a
			v-if="imageLink && imageSrc"
			:href="imageLink"
			:target="
				imageLink.includes('futurehorizon') ||
				imageLink.includes('localhost')
					? '_self'
					: '_blank'
			"
		>
			<picture>
				<source
					type="image/webp"
					:srcset="
						transformImage(
							imageSrc,
							imageOptions + '/filters:format(webp)'
						)
					"
				/>
				<source
					type="image/png"
					:srcset="
						transformImage(
							imageSrc,
							imageOptions + '/filters:format(png)'
						)
					"
				/>
				<img
					:src="transformImage(imageSrc, imageOptions)"
					:alt="`${imageAlt}`"
				/>
			</picture>
		</a>
		<picture v-if="!imageLink && imageSrc" class="image">
			<source
				type="image/webp"
				:srcset="
					transformImage(
						imageSrc,
						imageOptions + '/filters:format(webp)'
					)
				"
			/>
			<source
				type="image/png"
				:srcset="
					transformImage(
						imageSrc,
						imageOptions + '/filters:format(png)'
					)
				"
			/>
			<img
				loading="lazy"
				decoding="async"
				:src="transformImage(imageSrc, imageOptions)"
				:alt="`${imageAlt}`"
				:width="`${imageDimensions.width}`"
				:height="`${imageDimensions.height}`"
			/>
		</picture>
	</div>
</template>

<script>
export default {
	props: {
		image: { type: Object, default: () => ({}) },
		blok: { type: Object, default: () => ({}) }
	},
	computed: {
		img() {
			return this.blok.image || this.image
		},
		imageLink() {
			return this.blok.link?.cached_url
		},
		imageSrc() {
			return this.img.filename
			// return this.blok.image.filename
		},
		imageDimensions() {
			const url = this.img.filename

			const dimensions = {
				width: url.split('/')[5].split('x')[0],
				height: url.split('/')[5].split('x')[1]
			}

			return dimensions
		},
		imageOptions() {
			let width = this.blok.width || '0'
			let height = this.blok.height || '0'

			return `${width}x${height}`
		},
		imageAlt() {
			return this.img.alt || ''
		}
	},
	mounted() {},
	methods: {
		transformImage(image, option) {
			if (!image) return ''
			if (!option) return ''

			let imageService = '//img2.storyblok.com/'
			let path = image
				.replace('https://', '')
				.replace('http://', '')
				.replace('a.storyblok.com', '')

			// console.log('transforming image', image, imageService, option, path)
			return imageService + option + path
		}
	}
}
</script>
