<template>
	<div
		class="bg-primary-200 relative py-12 de:py-40 text-light overflow-hidden"
	>
		<div class="constrain relative z-10">
			<h2 class="mt-16 de:mt-32">{{ title }}</h2>
		</div>
		<!-- <IconMarkLarge
			water-color="transparent"
			icon-color="#C38765"
			pin-color="#484862"
			circle-color="#484862"
			class="icon-mark-large absolute"
		/> -->
	</div>
</template>

<script>
export default {
	props: {
		title: { type: String, default: '' },
		subtitle: { type: String, default: '' }
	}
}
</script>

<style lang="scss"></style>
