<template>
	<section class="signup">
		<a name="signup"></a>
		<div class="wrap">
			<nuxt-link to="/confirm" class="button outline"> Join Us</nuxt-link>
			<!-- <div id="form-invite">
					<form
						id="submitForm"
						action="/"
						@submit.prevent="submitForm"
						method="POST"
						name="invite"
						data-netlify-honeypot="dontfill"
						data-netlify="true"
					>
						<input type="hidden" name="form-name" value="invite" />
						<span class="hideme"><input name="dontfill"/></span>
						<p class="error" v-if="form.error">
							There was an error requesting an invite
						</p>
						<input
							type="textbox"
							name="email"
							placeholder="Enter Email"
							v-model="form.email"
							required
						/>
						<br />
						<input
							v-if="!form.success && !form.error"
							type="submit"
							value="Request invite"
							name="submit"
							class="button"
						/>
						<span class="button" v-if="form.success"
							>We will be in touch</span
						>
					</form>
				</div> -->

			<!--End mc_embed_signup-->

			<!-- <p>We will send further instructions soon.</p> -->
		</div>
	</section>
</template>

<script>
import axios from 'axios'

export default {
	data: () => {
		return {
			form: {
				email: '',
				success: false,
				error: false
			}
		}
	},
	methods: {
		encode(data) {
			return Object.keys(data)
				.map(
					key =>
						`${encodeURIComponent(key)}=${encodeURIComponent(
							data[key]
						)}`
				)
				.join('&')
		},
		submitForm() {
			if (!this.form.email) {
				// this.$store.dispatch('addNotification', {
				// 	type: 'error',
				// 	text: 'Please fill out your name so we know who to contact.'
				// })
				// this.$ga.event({
				// 	eventCategory: 'contact',
				// 	eventLabel: 'missing name',
				// 	eventAction: 'error notification'
				// })
				// return false
			}
			// else if (!this.form.email) {
			// 	this.$store.dispatch('addNotification', {
			// 		type: 'error',
			// 		text:
			// 			'Please fill out your email address so we can get back to you.'
			// 	})
			// 	this.$ga.event({
			// 		eventCategory: 'contact',
			// 		eventLabel: 'missing email',
			// 		eventAction: 'error notification'
			// 	})
			// 	return false
			// 	// } else if (!this.form.company) {
			// 	// this.$store.dispatch('addNotification', { 'type' : 'error', 'text' : 'Please fill out your email address so we can get back to you.' })
			// } else if (!this.form.phone) {
			// 	this.$store.dispatch('addNotification', {
			// 		type: 'error',
			// 		text:
			// 			'Please fill out your phone number so we can get back to you.'
			// 	})
			// 	this.$ga.event({
			// 		eventCategory: 'contact',
			// 		eventLabel: 'missing phone',
			// 		eventAction: 'error notification'
			// 	})
			// 	return false
			// } else if (!this.form.notes) {
			// 	this.$store.dispatch('addNotification', {
			// 		type: 'error',
			// 		text: 'Please let us know how best to help you.'
			// 	})
			// 	this.$ga.event({
			// 		eventCategory: 'contact',
			// 		eventLabel: 'missing notes',
			// 		eventAction: 'error notification'
			// 	})
			// 	return false
			// }

			const axiosConfig = {
				header: { 'Content-Type': 'application/x-www-form-urlencoded' }
			}
			axios
				.post(
					'/',
					this.encode({
						'form-name': 'invite',
						...this.form
					}),
					axiosConfig
				)
				.then(
					() => {
						this.form.success = true
					},
					() => {
						this.form.error = true
					}
				)

			// 	// this.$ga.event({
			// 	// 	eventCategory: 'contact',
			// 	// 	eventLabel: 'contact success',
			// 	// 	eventAction: 'success'
			// 	// })
			// 	this.$router.push(`/invite?email=${this.form.email}`)
			// })
		}
	}
}
</script>

<style lang="scss">
@import 'signup';
</style>
