.signup {
	// background-image: url('/images/moon-cell-grid-02.png');
	// background-attachment: fixed;
	// background-position: center;

	min-height: 200px;
	text-align: center;

	.wrap {
		max-width: 420px;
		margin: 0 auto;
		padding: 100px 0;
		//width: 100%;
	}

	#mc_embed_signup {
		margin: 20px 0;
	}

	.button {
		display: inline-block;
		border: 0;

		padding: 10px 0;
		margin-top: 5px;
		background: transparent;

		color: #d6af89;
		font-size: 16px;
		letter-spacing: 10px;
		text-transform: uppercase;

		transition: background 0.5s ease;

		&.inactive {
			visibility: hidden;
			// background: #333;
		}

		&:hover {
			cursor: pointer;

			// background: lighten(#d0aa85, 5%);
		}

		&:active {
			// background: lighten(#d0aa85, 10%);
		}
	}

	input {
		padding: 13px 0px;
		width: 100%;
		max-width: 100%;

		border: 0;
		outline: 0;

		color: #d6af89;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 5px;
		text-align: center;
		font-family: Roboto, sans-serif;

		border-bottom: 1px solid #d6af89;
		background: transparent;
		// box-shadow: 0 0 5px inset black;
		// color: #ccc;

		&::placeholder {
			color: #d6af89;
			text-transform: uppercase;
		}
	}
}
