<template>
	<div class="page tab" :class="[$route.params.slug]">
		<component
			:is="content.component | dashify"
			v-for="content in blok.content"
			:key="content._uid"
			:blok="content"
		></component>
	</div>
</template>

<script>
export default {
	props: { blok: { type: Object, default: () => ({}) } }
}
</script>
