<template>
	<div
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		class="tabs"
	>
		<div class="flex flex-col ta:flex-row ta:items-center justify-center">
			<a
				v-for="(tab, i) in blok.content"
				:key="tab.title"
				:href="
					tab.link && tab.link.url ? tab.link.url : `#${tab.title}`
				"
				:class="{
					'border-light text-light': isActive(tab.title),
					'ta:ml-6': i !== 0
				}"
				:target="tab.link && tab.link.url ? '_blank' : '_self'"
				class="tab button nav-link text-center mb-6 ta:mb-0"
				@click="setActive(tab.title)"
				>{{ tab.title }}</a
			>
		</div>
		<div class="tab-content py-20">
			<component
				:is="tab.component | dashify"
				v-for="tab in blok.content"
				v-show="isActive(tab.title)"
				:key="tab._uid"
				:blok="tab"
			></component>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	},
	data: () => ({
		activeTab: ''
	}),

	mounted() {
		// console.log('saw tabs', this.blok.content)
		this.activeTab = this.activeTab || this?.blok?.content?.[0].title || ''
	},

	methods: {
		isActive(type) {
			return this.activeTab === type
		},

		setActive(type) {
			this.activeTab = type
		}
	}
}
</script>

<style lang="scss"></style>
