<template>
	<section class="tracking-wider" :class="[blok.paddingX, blok.paddingY]">
		<div v-editable="blok" class="single-content" v-html="richtext"></div>
	</section>
</template>

<script>
import storyblokHelpers from '@/mixins/storyblokHelpers'

export default {
	mixins: [storyblokHelpers],
	props: { blok: { type: Object, default: () => ({}) } },

	computed: {
		richtext() {
			// console.log('rendering richtext');
			const richtext = this.$storyapi.richTextResolver.render(
				this.blok.text
			)
			return richtext
			// return '';
		}
	}
}
</script>

<style lang="scss">
.single-content {
	// max-width: 640px;
	p:not(:nth-child(1)) {
		@apply my-8;
	}

	strong,
	b {
		@apply text-light;
	}
}
</style>
