<template>
	<section
		v-if="(parentProtected && blok.show_if_protected) || !parentProtected"
		v-editable="blok"
		class="video"
		:class="[blok.padding]"
	>
		<div :class="[blok.wrap ? 'wrap' : '']">
			<div class="video-e" v-html="blok.embed_code"></div>
		</div>
		<div
			v-if="blok.learn_text"
			class="flex flex-col items-center justify-center pb-32"
		>
			<a
				:href="
					`${
						blok.learn_link.cached_url.includes('http')
							? blok.learn_link.cached_url
							: '/' + blok.learn_link.cached_url
					}`
				"
				class="button mt-8 nuxt-link-active"
			>
				{{ blok.learn_text }}
			</a>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		blok: { type: Object, default: () => ({}) },
		parentProtected: { type: Boolean, default: false }
	}
}
</script>
