<template>
	<div class="page events">
		<!-- <div
			v-show="event === 'FH20201'"
			class="screen__item FH20201"
			:style="'--bg-img:url(' + require('~/assets/images/bg.jpg') + ')'"
		>
			<div class="screen screen--full"></div>
			<div class="screen screen--fclip"></div>
			<div class="Background"></div>
		</div> 
		v-show="event !== 'FH20201'" c-->
		<div class="screen__item" :class="activeEvent.slug">
			<div
				class="screen screen--full"
				:style="{
					'background-image': `url('${currentBackgroundImage}')`
				}"
			></div>
			<div
				class="screen screen--fclip"
				:style="{
					'background-image': `url('${currentBackgroundImage}')`
				}"
			></div>
		</div>
		<div class="content">
			<nuxt-link
				v-for="event in filteredEvents"
				:key="event.uuid"
				:to="`/${event.full_slug}`"
				class="event"
				@mouseover.native="changeEvent(event)"
			>
				<h5>
					{{ monthNames[getDate(event.content.date).getMonth()] }}
					{{ getDate(event.content.date).getFullYear() }},
					{{ event.content.location }}
				</h5>
				<h3 v-html="event.content.name"></h3>
			</nuxt-link>
		</div>
	</div>
</template>

<script>
import storyblokDefault from '@/mixins/storyblokDefault'
import storyblokHelpers from '@/mixins/storyblokHelpers'
import BG from '~/utils/bg.js'

import nmerge from 'nuxt-merge-asyncdata'

export default nmerge({
	mixins: [storyblokDefault, storyblokHelpers],

	data: () => {
		return {
			events: [],
			event: undefined,
			started: false,
			activeEvent: {},
			monthNames: [
				'Jan',
				'Feb',
				'March',
				'April',
				'May',
				'June',
				'July',
				'Aug',
				'Sept',
				'Oct',
				'Nov',
				'Dec'
			]
		}
	},

	computed: {
		filteredEvents() {
			return this.events.filter(
				e =>
					e.slug !== 'events' && e.slug !== 'hub' && e.content.visible
			)
		},
		currentBackgroundImage() {
			return this.activeEvent?.content?.cover_image?.filename
		}
	},

	methods: {
		changeEvent(event) {
			// console.log('changing event', event.content.cover_image)
			if (this.activeEvent === event) return

			this.activeEvent = event

			const bg = new BG(document.querySelector('.container'))

			this.$nextTick(() => {
				// console.log('starting bg...', this.activeEvent.slug)
				bg.start(null, this.activeEvent.slug)
			})
		}
	},

	async asyncData(context) {
		let events = await context.app.$storyapi.get(`cdn/stories/`, {
			starts_with: 'events/',
			sort_by: 'content.date:desc',
			version:
				context.query._storyblok || context.isDev
					? 'draft'
					: 'published',
			cv: context.store.state.cacheVersion,
			per_page: 100
		})
		events = events.data.stories

		// console.log('received events', events)

		let activeEvent = events.filter(
			e => e.slug !== 'events' && e.slug !== 'hub'
		)[0]
		// console.log('loaded events', events, 'active event', activeEvent)

		// const sorted = refined.sort((a, b) => {
		// 	if (this.getDate(a.content.date) < this.getDate(b.content.date))
		// 		return -1
		// 	else if (
		// 		this.getDate(a.content.date) > this.getDate(b.content.date)
		// 	)
		// 		return 1
		// 	else return 0
		// })

		return { events, activeEvent }
	}
})
</script>

<style lang="scss">
@import 'index';
</style>
