.page.events {
	@apply flex flex-col justify-center items-center min-h-screen;

	@include media('<de') {
		@apply pt-32;
	}

	.screen {
		&__item {
			position: fixed;
			top: 0;
			left: 0;
		}
	}

	.content {
		@apply flex flex-wrap justify-between;
		max-width: 1200px;
		position: relative;
		z-index: 2;
		padding-top: 200px;
		@include media('<de') {
			@apply px-8 flex-col;

			padding-top: 0px;
		}

		.event {
			@apply my-10 text-highlight no-underline;
			width: 450px;

			h3 {
				line-height: 1em;
			}

			@include media('<de') {
				width: auto;
			}

			&:nth-child(odd) {
				// margin-left: -1rem;
				text-align: right;

				@include media('<de') {
					margin-left: 0;
					text-align: left;
				}
			}

			&:nth-child(odd) {
				// margin-left: 41rem;
			}

			&:hover {
				cursor: pointer;

				h3 {
					@apply text-light;
				}

				h5 {
					@apply text-accent;
				}
			}

			h3 {
			}

			h5 {
				@apply text-light;
			}
		}
	}
}
