.page.event {
	.hero {
		@apply pt-12;

		@include media('<de') {
			@apply pt-32;
		}
	}

	.people {
		.col {
			@include media('<de') {
				@apply w-full pb-10;

				&:nth-child(even) {
					@apply text-right;
				}
			}
		}
	}

	&.fh20202 {
		.gallery {
			@apply pt-16;

			h2 {
				@apply relative z-10;
			}

			.board {
				@apply px-0 justify-between;
				margin-top: -80px;

				// @include media('<1520px') {
				// 	.image {
				// 		max-width: 400px !important;
				// 		max-height: 509px !important;
				// 	}
				// }

				// @include media('<1280px') {
				@apply mt-0 justify-around;
				// }

				.image {
					// @apply bg-light;
					// height: 585px;
					// max-width: 460px;

					@include media('<1280px') {
						height: auto;
						// margin: 64px 10px 0 10px !important;
					}

					@include media('<de') {
						height: auto;
					}

					// &:nth-child(2) {
					// 	@apply mx-4;

					// 	margin-top: 300px;
					// }

					// &:nth-child(3) {
					// 	@apply mt-20;
					// }

					// &:nth-child(4) {
					// 	@apply -mt-12;
					// }

					// &:nth-child(5) {
					// 	@apply mt-32;

					// 	@include media('<1280px') {
					// 		@apply mt-16;
					// 	}
					// }

					img {
						opacity: 0.85;
					}
				}
			}
		}

		.invite-confirm {
			@apply mx-auto;

			max-width: 800px;
		}

		.joinus {
			// @apply pt-60;

			max-width: 1920px;

			.top {
				@apply text-main;
				@apply relative flex items-end;

				height: 800px;

				&:after {
					content: ' ';
					@apply absolute w-full h-full top-0 left-0 z-10;

					// z-index: -1;

					// transform: translateZ(-1px) scale(1.5);

					background: url('/images/beach.jpg') no-repeat;
					background-size: cover;
				}

				.wrap {
					@apply relative flex-grow flex-shrink pb-0 z-20;
				}
			}

			.bottom {
				@apply bg-dark text-light;

				.wrap {
					@apply pt-0;

					@include media('<de') {
						@apply flex-col;
					}

					.col--right {
						@apply relative;

						@include media('<de') {
							@apply pt-0;
						}

						&:before {
							@apply absolute;
							@apply bg-accent;

							content: ' ';
							right: calc(100% + 0px);
							bottom: 65px;

							height: 1px;
							width: 450px;

							@include media('<de') {
								height: 40px;
								width: 1px;
								right: auto;
								left: 50%;
							}
						}

						.button {
							@apply absolute right-0 w-full;

							bottom: 40px;

							@include media('<de') {
								@apply mt-10 static;
							}
						}
					}
				}
			}
		}
	}

	.impact {
		.wrap:nth-child(2) {
			@apply flex flex-wrap justify-between mt-20 px-4;

			@include media('<1520px') {
				@apply px-12;
			}
		}

		
	}
}
