<template>
	<div class="page event" :class="[$route.params.slug]">
		<component
			:is="blok.component | dashify"
			v-for="blok in story.content.body"
			:key="blok._uid"
			:blok="blok"
		></component>
	</div>
</template>

<script>
import storyblokLivePreview from '@/mixins/storyblokLivePreview'
import storyblokDefault from '@/mixins/storyblokDefault'
import storyblokHelpers from '@/mixins/storyblokHelpers'

import { mapState } from 'vuex'

import nmerge from 'nuxt-merge-asyncdata'

export default nmerge({
	mixins: [storyblokLivePreview, storyblokDefault, storyblokHelpers],
	asyncData(context) {
		return {
			isStoryblok: context.query._storyblok ? true : false
		}
	},

	computed: { ...mapState('auth', ['me']) },

	mounted() {
		console.log('loaded storyblok mode', this.isStoryblok)
		setTimeout(() => {
			if (!this.me.Id && !this.isStoryblok) {
				// this.$store.dispatch('notify', {
				// 	message: 'Please login to view the event hub.'
				// })
				// this.$router.push('/login')
			}
		}, 2000)
	}
})
</script>
