<template>
	<div class="page event" :class="[$route.params.slug]">
		<component
			:is="blok.component | dashify"
			v-for="blok in story.content.body"
			:key="blok._uid"
			:blok="blok"
			:story="story"
			:parent-protected="
				(story.content.access_password &&
					story.content.access_password.length > 0 &&
					!permitted(story.id)) === true
			"
		></component>
		<!-- <event-password
			v-if="
				(story.content.access_password &&
					story.content.access_password.length > 0 &&
					!permitted(story.id)) === true
			"
			:password="story.content.access_password"
			:event="story.id"
		/> -->
	</div>
</template>

<script>
import storyblokLivePreview from '@/mixins/storyblokLivePreview'
import storyblokDefault from '@/mixins/storyblokDefault'
import storyblokHelpers from '@/mixins/storyblokHelpers'

import { mapGetters } from 'vuex'

export default {
	mixins: [storyblokLivePreview, storyblokDefault, storyblokHelpers],
	computed: {
		...mapGetters('event', ['permitted'])
	},
	mounted() {
		// console.log(
		// 	'parent event protected',
		// 	'password',
		// 	this.story.content.access_password,
		// 	'length',
		// 	this.story.content.access_password &&
		// 		this.story.content.access_password.length > 0,
		// 	'permitted',
		// 	!this.permitted(this.story.id),
		// 	'total',
		// 	this.story.content.access_password &&
		// 		this.story.content.access_password.length > 0 &&
		// 		!this.permitted(this.story.id)
		// )

		if (window.location?.search === '?remove-header') {
			const nav = window.document.querySelector('#__layout > div > nav')
			if (nav) {
				nav.remove()
			}
			const hero = window.document.querySelector(
				'.page.event section.hero:first-child'
			)
			if (hero) {
				hero.remove()
			}

			const firstSection = window.document.querySelector(
				'.page.event :first-child'
			)
			if (firstSection) {
				firstSection.style.paddingTop = '0px'
				const firstChild = firstSection.querySelector(':first-child')
				if (firstChild) {
					firstChild.style.paddingTop = '0'
					firstChild.style.marginTop = '40px'
				}
			}

			const height = document.body.scrollHeight
			if (document.body.scrollHeight > 0) {
				window.parent.postMessage(
					{
						type: 'resize',
						height
					},
					'*'
				)
			}
		}
	}
}
</script>

<style lang="scss">
@import 'event';
</style>
