<template>
	<div v-if="me.Id" class="w-full de:w-auto de:grid de:grid-cols-2_66_33">
		<div>
			<h3 class="text-large">My Events</h3>

			<div
				v-if="!me.events || me.events.length <= 0"
				class="max-w-md border border-accent event px-4 py-4 de:px-8 rounded-md my-8"
			>
				It looks like you haven't attended any Future Horizon events.
				Check out <nuxt-link to="/events">the events page</nuxt-link> to
				see what's coming up next.
			</div>
			<div v-if="me.events && me.events.length > 0">
				<div
					v-for="event in me.events"
					:key="event.Id"
					class="event border border-accent px-4 py-4 de:px-8 de:py-4 my-6 rounded-md w-full de:w-auto no-underline block"
				>
					<div class="de:flex w-full">
						<div class="mb-4 de:mb-0">
							<h3
								class="text-bigger tracking-wide de:text-large de:tracking-wide whitespace-no-wrap leading-none"
							>
								{{ event.event.fullName }}
							</h3>
							<p class="text-light mt-4 pt-0">
								{{ event.event.location }} <br />
								<span class="text-smaller"
									>{{ event.event.startDate }} -
									{{ event.event.endDate }}</span
								>
							</p>
						</div>
						<a
							v-if="
								event.event.paymentStatus &&
									!event.paid &&
									!event.comped &&
									event.hasCryptoPayment
							"
							:href="
								!event.paid && !event.comped
									? 'https://checkout.opennode.com/p/6af9bf27-9b88-43a3-a6b1-695dd0f08c70'
									: '/me'
							"
							class="self-center ml-auto py-2 px-4 border uppercase font-bold rounded-md text-smaller tracking-wide decor no-underline"
							:class="[
								event.paid || event.comped
									? 'border-green bg-green text-light cursor-default'
									: 'border-red bg-red text-light'
							]"
							@click="$event.stopPropagation()"
							>{{
								event.paid || event.comped
									? 'paid'
									: 'pay with '
							}}<span
								v-if="!event.paid && !event.comped"
								class="fa fa-btc"
							></span
						></a>
						<a
							v-if="event.event.paymentStatus"
							:href="
								!event.paid ? event.event.paymentLink : '/me'
							"
							class="ml-auto self-center py-2 px-4 border uppercase font-bold rounded-md text-smaller tracking-wide decor no-underline"
							:class="[
								event.paid || event.comped
									? 'border-green bg-green text-light cursor-default'
									: 'border-red bg-red text-light'
							]"
							@click="$event.stopPropagation()"
							>{{
								event.paid || event.comped
									? 'paid'
									: 'pay with $'
							}}</a
						>
					</div>
					<div class="de:flex w-full mt-4">
						<nuxt-link
							class="button button--small"
							:to="`/events/${event.event.pageSlug}`"
						>
							View Event
						</nuxt-link>
						<!-- <nuxt-link
							v-if="event.comped || event.paid"
							class="button button--small ml-6"
							:to="`/events/${event.event.pageSlug}/hub`"
						>
							View Event Hub
						</nuxt-link> -->
					</div>
				</div>
			</div>
			<p class="text-red text-small">
				<br />* When paying for an event, you must use your F account's
				email address during the checkout process in order for your
				payment to be recognized.
				<!-- <br />
				<br />
				** When paying with Crypto, it may take up to 48 hours for your
				payment to be reflected on your account. -->
			</p>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	computed: { ...mapState('auth', ['me']) },

	mounted() {
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/')
		}, 2500)
	},

	methods: {
		logout() {
			this.$store.dispatch('auth/logout')

			setTimeout(() => {
				this.$router.push('/')
			}, 2000)
		}
	}
}
</script>
