<template>
	<div class="w-full de:w-auto de:grid de:grid-cols-2_66_33">
		<div>
			<h3 class="text-large">My Profile</h3>
			<div class="">
				<p class="mt-4">
					Fill out the form below to let our community learn more
					about you.
					<br />This information will be shown on the event page.
				</p>
			</div>
			<form class="mt-12 text-left w-3/4 p-4">
				<div class="mb-8 flex items-center">
					<profile-image class="flex-shrink-0" :src="profileImage" />
					<input
						type="file"
						name="file"
						:disabled="isSaving"
						accept="image/*"
						class="ml-10"
						@change="
							filesChange($event.target.name, $event.target.files)
						"
					/>
				</div>
				<div class="mb-8 flex">
					<input
						v-model="form.firstName"
						type="textbox"
						name="firstName"
						placeholder="Your first name"
						@enter="submit()"
					/>
					<input
						v-model="form.lastName"
						class="ml-4"
						type="textbox"
						name="lastName"
						placeholder="Your last name"
						@enter="submit()"
					/>
				</div>
				<div class="mb-8 flex">
					<textarea
						v-model="form.bio"
						name="bio"
						placeholder="Tell us a bit about you"
					></textarea>
				</div>
				<div class="mb-8 flex">
					<input
						v-model="form.dateOfBirth"
						type="textbox"
						name="dateOfBirth"
						placeholder="Your date of birth (eg. June 16)"
						@enter="submit()"
					/>
				</div>
				<div class="mb-8 py-4 flex items-center">
					<span class="prefix">https://</span>
					<input
						v-model="form.website"
						type="textbox"
						name="website"
						placeholder=""
						class="pl-0"
						@enter="submit()"
					/>
				</div>
				<div class="mb-8 py-4 flex items-center">
					<span class="prefix">https://www.linkedin.com/in/</span>
					<input
						v-model="form.linkedin"
						type="textbox"
						name="linkedin"
						placeholder=""
						class="pl-0"
						@enter="submit()"
					/>
				</div>
				<div class="mb-8 py-4 flex items-center">
					<span class="prefix">https://www.instagram.com/</span>
					<input
						v-model="form.instagram"
						type="textbox"
						name="instagram"
						placeholder=""
						class="pl-0"
						@enter="submit()"
					/>
				</div>

				<div class="mb-8 py-4 flex items-center">
					<span class="prefix">https://twitter.com/</span>
					<input
						v-model="form.twitter"
						type="textbox"
						name="twitter"
						placeholder=""
						class="pl-0"
						@enter="submit()"
					/>
				</div>
				<div class="mb-8 py-4 pt-0 flex">
					<input
						v-model="form.discord"
						type="textbox"
						name="discord"
						placeholder="Your Discord Tag (Username#0000)"
						@enter="submit()"
					/>
				</div>
				<div class="submit text-center">
					<a
						class="button"
						:class="[
							form.processing ? 'loading' : '',
							!ready ? 'inactive' : ''
						]"
						@click="submit()"
						>Save</a
					>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
import Me from '@/api/me'
import { mapState } from 'vuex'

export default {
	data: () => ({
		isSaving: false,
		profileImage: '',
		form: {
			processing: false,
			ready: false,
			email: '',
			firstName: '',
			lastName: '',
			bio: '',
			currentTitle: '',
			dateOfBirth: '',
			website: '',
			linkedin: '',
			instagram: '',
			twitter: '',
			discord: ''
		}
	}),
	computed: {
		ready() {
			return this.form.firstName && this.form.lastName
		},
		...mapState('auth', ['me'])
	},
	mounted() {
		this.load()
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/')
		}, 2500)
	},

	methods: {
		async load() {
			this.loadProfileImage()

			let me = new Me()
			let u
			try {
				u = await me.getProfile()
			} catch (e) {
				this.$store.dispatch('notify', {
					message:
						'There was an unknown error retrieving your profile.'
				})
				this.$router.push('/me')
				return
			}

			this.form.firstName = u.data.firstName
			this.form.lastName = u.data.lastName
			this.form.bio = u.data.bio
			this.form.currentTitle = u.data.currentTitle
			this.form.dateOfBirth = u.data.dateOfBirth
			this.form.website = u.data.website
			this.form.linkedin = u.data.linkedin
			this.form.instagram = u.data.instagram
			this.form.twitter = u.data.twitter
			this.form.discord = u.data.discord
		},

		async loadProfileImage() {
			const profileImage = await new Me().getProfileImage()
			// console.log('received profile image', profileImage)
			this.profileImage = profileImage.data.imagePath
		},

		async submit() {
			if (!this.ready) {
				this.form.processing = false
				return
			}
			if (this.form.processing) return

			this.form.processing = true

			let me = new Me()

			try {
				await me.saveProfile(
					this.form.firstName,
					this.form.lastName,
					this.form.bio,
					this.form.dateOfBirth,
					this.form.website,
					this.form.linkedin,
					this.form.instagram,
					this.form.twitter,
					this.form.discord
				)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: e
				})
				return
			} finally {
				this.form.processing = false
			}

			this.$store.dispatch('notify', {
				message: 'Your profile has been updated successfully.',
				type: 'success'
			})
		},
		filesChange(fieldName, fileList) {
			// handle file changes
			const formData = new FormData()

			if (!fileList.length) return

			// append the files to FormData
			Array.from(Array(fileList.length).keys()).map(x => {
				formData.append(fieldName, fileList[x], fileList[x].name)
			})

			// save it
			this.saveImage(formData)
		},
		async saveImage(formData) {
			// upload data to the server
			this.currentStatus = 'STATUS_SAVING'

			await new Me()
				.saveProfileImage(formData, this.me.Id)
				.then(x => {
					this.uploadedFiles = [].concat(x)
					this.currentStatus = 'STATUS_SUCCESS'
				})
				.catch(err => {
					this.uploadError = err.response
					this.currentStatus = 'STATUS_FAILED'
				})

			this.loadProfileImage()
		}
	}
}
</script>

<style lang="scss">
form input,
textarea {
	&,
	&::placeholder {
		@apply text-default text-left normal-case tracking-normal font-normal text-dim;
	}

	& {
		@apply text-light;
	}
}
</style>
