<template>
	<div class="w-full de:w-auto de:grid de:grid-cols-2_66_33">
		<div>
			<h3 class="text-large">Edit Event</h3>
			<form class="text-left mt-8">
				<div class="mb-8">
					<p class="label">Full Name:</p>
					<input
						v-model="form.fullName"
						type="textbox"
						name="fullName"
						placeholder="Full Name"
						@keyup.enter="submit()"
					/>
				</div>
				<div class="mb-8">
					<p class="label">Short Name:</p>
					<input
						v-model="form.name"
						type="textbox"
						name="name"
						placeholder="Name"
						@keyup.enter="submit()"
					/>
				</div>
				<div class="mb-8">
					<p class="label">Location:</p>
					<input
						v-model="form.location"
						type="textbox"
						name="location"
						placeholder="Location"
						@keyup.enter="submit()"
					/>
				</div>
				<div class="mb-8">
					<p class="label">Stripe Payment Link:</p>
					<input
						v-model="form.paymentLink"
						type="textbox"
						name="paymentLink"
						placeholder="Payment Link"
						@keyup.enter="submit()"
					/>
				</div>
				<div class="mb-8">
					<p class="label">Readable Date:</p>
					<div class="flex items-center">
						<input
							v-model="form.startDate"
							type="textbox"
							name="startDate"
							placeholder="Start Date"
							@keyup.enter="submit()"
						/>
						<span class="align-center mx-4">-</span>
						<input
							v-model="form.endDate"
							type="textbox"
							name="endDate"
							placeholder="End Date"
							@keyup.enter="submit()"
						/>
					</div>
				</div>
				<div class="mb-8">
					<p class="label">System Date:</p>
					<div class="flex items-center">
						<input
							v-model="form.startDateTime"
							type="textbox"
							name="startDateTime"
							placeholder="Start DateTime"
							@keyup.enter="submit()"
						/>
						<span class="align-center mx-4">-</span>
						<input
							v-model="form.endDateTime"
							type="textbox"
							name="endDateTime"
							placeholder="End DateTime"
							@keyup.enter="submit()"
						/>
					</div>
				</div>
				<div class="mb-8">
					<p class="label">CMS Page Slug:</p>
					<input
						v-model="form.pageSlug"
						type="textbox"
						name="pageSLug"
						placeholder="CMS Page Slug (https://futurehorizon.to/events/{PAGE SLUG})"
						@keyup.enter="submit()"
					/>
				</div>
				<div class="mb-8">
					<p class="label">Organization:</p>
					<select
						v-model="form.org"
						type="textbox"
						name="org"
						@keyup.enter="submit()"
					>
						<option value="Future Horizon">Future Horizon</option>
						<option value="F Camp">F Camp</option></select
					>
				</div>
				<div class="mb-8">
					<p class="label">Payment Status:</p>
					<select
						v-model="form.paymentStatus"
						name="paymentStatus"
						@keyup.enter="submit()"
					>
						<option :value="true">Open</option>
						<option :value="false">Closed</option></select
					>
				</div>

				<div class="submit text-center">
					<a
						class="button"
						:class="[form.processing ? 'loading' : '']"
						@click="submit()"
						>Save</a
					>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
import Event from '@/api/event'
import Admin from '@/api/admin'
import { mapState } from 'vuex'
// import Profile from '~/pages/me/profile.vue'

export default {
	data: () => ({
		isSaving: false,
		event: {},
		form: {}
	}),
	computed: {
		...mapState('auth', ['me'])
	},
	created() {
		this.load()
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/')
		}, 2500)
	},

	methods: {
		async load() {
			let event = new Event()
			let e
			try {
				this.form.processing = true
				e = await event.get(this.$route.params.id)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'There was an unknown error retrieving the event.'
				})
				this.$router.push('/admin/events')
				return
			} finally {
				this.form.processing = false
			}

			this.event = { ...this.event, ...e.data }

			this.form = { ...this.form, ...this.event }
		},

		async submit() {
			let admin = new Admin()
			this.form.processing = true
			try {
				let req = await admin.editEvent(this.form)
				console.log(req, this.form)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'There was an unknown error editing the event.'
				})

				console.log(e)
				// this.$router.push('/admin/events')
				return
			} finally {
				this.form.processing = false
			}

			this.$store.dispatch('notify', {
				type: 'success',
				message: 'The event was updated successfully.'
			})
		}
	}
}
</script>

<style lang="scss">
form input,
form select {
	@apply text-left pl-0;
}
</style>
