<template>
	<div>
		<Notifications />
		<Nav :me="me"></Nav>
		<nuxt />
		<div class="footer text-center bg-dark">
			<p class="opacity-50 py-10 px-0 m-0 text-small">
				Made with ♥ by
				<a
					target="_blank"
					href="https://www.instagram.com/bootl/"
					class="no-underline"
					>Matt</a
				>
				and
				<a
					target="_blank"
					href="https://www.instagram.com/mistevs/"
					class="no-underline"
					>Mike</a
				>
			</p>
		</div>
	</div>
</template>

<script>
import Nav from '~/components/nav'
import Notifications from '~/components/notifications.vue'
// import Me from '@/api/me'
// import axios from 'axios'
import { mapState } from 'vuex'

export default {
	components: { Nav, Notifications },
	computed: {
		...mapState('auth', ['me'])
	},
	created() {
		this.$store.dispatch('auth/setup')
	},
	methods: {}
}
</script>

<style lang="scss">
.un-callout {
	@apply my-12  items-center justify-center text-large text-alt;

	@screen de {
		@apply flex;
	}

	span {
		@apply inline-block;
	}

	a {
		@apply ml-10 inline-block mt-10;

		@screen de {
			@apply mt-0;
		}

		&:hover {
			img {
				opacity: 1;
			}
		}
	}

	img {
		max-height: 100px;
		opacity: 0.5;
		transition: all ease 0.5s;
	}
}

.partners {
	@include media('<de') {
		flex: 1 1 100%;
	}

	h4 {
		@apply text-center font-normal
					mb-6;

		// margin: 0 0 30px 0;
	}

	.images {
		@apply flex justify-between items-center flex-wrap mt-5;

		@include media('<hd') {
			@apply px-6;
			// padding-right: 30px;
			// padding-left: 30px;
			// flex-wrap: wrap;
		}

		@include media('<de') {
			// @apply flex-col;
			@apply px-0;
		}

		a,
		img {
			@apply mx-5 my-5;
		}

		a > img,
		a > picture > img {
			@apply mx-0 my-0;
		}

		img {
			max-height: 50px;
			min-height: 30px;
			width: auto;
			max-width: 200px;
			// margin: 40px 10px;
			opacity: 0.4;
			transition: all 0.3s;

			@include media('<de') {
				max-width: 110px;
			}

			&:hover {
				opacity: 1;
			}

			&:nth-child(6) {
				display: none;
				height: 80px;
				max-height: none;
			}

			&:nth-child(7) {
				// height: 39px;
				width: 200px;
				// max-height: none;
			}
		}
	}
}
</style>
