<template>
	<div class="page" :class="[$route.params.slug]">
		<component
			:is="blok.component | dashify"
			v-for="blok in story.content.body"
			:key="blok._uid"
			:blok="blok"
		></component>
	</div>
</template>

<script>
import storyblokLivePreview from '@/mixins/storyblokLivePreview'
import storyblokDefault from '@/mixins/storyblokDefault'
import storyblokHelpers from '@/mixins/storyblokHelpers'

export default {
	mixins: [storyblokLivePreview, storyblokDefault, storyblokHelpers]
}
</script>
