<template>
	<div class="page">
		<div class="wrap block">
			<section
				v-if="me && me.Id"
				class="de:grid de:grid-cols-2_66_33 pb-0 pt-40"
			>
				<div>
					<h3 class="text-largest">
						Dashboard
					</h3>
					<nav
						class="subnav static flex items-center bg-dark p-4 pl-0"
					>
						<nuxt-link class="no-underline" to="/admin/"
							>Users</nuxt-link
						>
						<nuxt-link class="no-underline ml-10" to="/admin/events"
							>Events</nuxt-link
						>
						<nuxt-link class="no-underline ml-10" to="/admin/invite"
							>Invite</nuxt-link
						>
					</nav>
				</div>
			</section>
			<section class="de:pt-20">
				<NuxtChild />
			</section>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	computed: { ...mapState('auth', ['me']) },

	mounted() {
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/')
		}, 2500)
	},

	methods: {
		logout() {
			this.$router.push('/')
			this.$store.dispatch('auth/logout')
		}
	}
}
</script>
