<template>
	<div class="page">
		<div class="wrap">
			<section class="pt-40">
				<h3 class="text-center">Create an account</h3>
				<div class="text-center">
					<p class="mt-4">
						Fill out the form below to create an account so we know
						who you are. <br />
						Your account allows you to view events, access the hub,
						and make payments.
					</p>
				</div>
				<form class="mt-12 text-left p-4 de:w-1/2 mx-auto">
					<!-- <div class="mb-8">
						<input
							v-model="form.display_name"
							type="textbox"
							name="displayName"
							placeholder="Tell us your display name ..."
						/>
					</div> -->
					<div class="mb-8 flex">
						<input
							v-model="form.firstName"
							type="textbox"
							name="firstName"
							placeholder="Your first name ..."
							@enter.native="register()"
						/>
						<input
							v-model="form.lastName"
							class="ml-4"
							type="textbox"
							name="lastName"
							placeholder="Your last name ..."
							@enter.native="register()"
						/>
					</div>
					<!-- <div class="divider border-dim border my-12"></div> -->
					<div class="mb-8">
						<input
							v-model="form.email"
							type="textbox"
							name="email"
							placeholder="Your email address ..."
							@enter.native="register()"
						/>
					</div>
					<div class="mb-8">
						<input
							v-model="form.password"
							type="password"
							name="password"
							placeholder="Enter your new password ..."
							@enter.native="register()"
						/>
					</div>
					<div class="mb-8 relative">
						<input
							v-model="form.passwordConfirm"
							type="password"
							name="password"
							placeholder="Confirm your password ..."
							@enter.native="register()"
						/>
						<p
							v-if="
								form.passwordConfirm &&
									form.passwordConfirm !== form.password
							"
							class="text-red absolute right-0  top-0  uppercase tracking-wide"
						>
							MISMATCH
						</p>
						<p
							v-if="
								form.passwordConfirm &&
									form.passwordConfirm === form.password
							"
							class="text-green absolute right-0 top-0 uppercase tracking-wide"
						>
							MATCH
						</p>
					</div>
					<!-- <div class="divider border-dim border  my-12"></div> -->
					<!-- <div class="mb-8">
						<textarea
							v-model="form.bio"
							name="bio"
							placeholder="Tell everyone a bit about yourself ..."
							class="w-full bg-main p-4 border-dim border h-64"
						/>
					</div> -->
					<!-- <div class="divider border-dim border my-12"></div> -->
					<div class="submit text-center">
						<a
							class="button"
							:class="[
								form.processing ? 'loading' : '',
								!ready ? 'inactive' : ''
							]"
							@click="register()"
							>Submit</a
						>
					</div>
				</form>
			</section>
		</div>
	</div>
</template>

<script>
import User from '@/api/user'

export default {
	data: () => ({
		form: {
			processing: false,
			ready: false,
			email: '',
			firstName: '',
			lastName: ''
		}
	}),

	computed: {
		ready() {
			return (
				this.form.password === this.form.passwordConfirm &&
				this.form.passwordConfirm &&
				this.form.email &&
				this.form.firstName &&
				this.form.lastName
			)
		}
	},
	mounted() {
		this.load()
	},
	methods: {
		async load() {
			let user = new User()
			let u
			try {
				u = await user.getUser(this.$route.query._u)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'We were unable to find your invitation.'
				})
				this.$router.push('/')
				return
			}

			if (u.data.hasPassword) {
				this.$store.dispatch('notify', {
					message:
						'It looks like you already have an F account.  Please login and visit your profile.'
				})
				this.$router.push('/login')
				return
			}

			this.form.firstName = u.data.firstName
			this.form.lastName = u.data.lastName
			this.form.email = u.data.email
		},

		async register() {
			if (!this.ready) {
				this.form.processing = false
				return
			}
			if (this.form.processing) return

			this.form.processing = true

			let userId = this.$route.query._u
			// console.log('fully registering user', userId)
			let user = new User()
			let me

			try {
				me = await user.register(
					userId,
					this.form.firstName,
					this.form.lastName,
					this.form.email,
					this.form.password
				)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: e
				})
				return
			} finally {
				this.form.processing = false
			}

			this.$store.dispatch('auth/setup', me.data.token)
			this.$router.push('/me')
		}
	}
}
</script>

<style lang="scss">
form input,
textarea {
	&,
	&::placeholder {
		@apply text-default text-left normal-case tracking-normal font-normal text-dim;
	}

	& {
		@apply text-light;
	}
}
</style>
