li {
	span {
		@apply mt-4 block;
	}

	h5, p {
		// @apply text-bigger tracking-wider;
		// letter-spacing: auto;

		// &:nth-child(even) {
		// 	@apply text-highlight;
		// }
		// &:nth-child(odd) {
		// 	@apply text-light
		// }
	}

}

section.button-nav {
	text-align: center;
	padding-top: 0px;
	margin-bottom: 60px;

	.nav-link {
		display: inline-block;
		margin: 0 10px;
	}
	.nav-link.active {
		color: white;
		border-color: white;
		cursor: default;
	}
}

.tab-content {
	.tab-pane {
		display: none;
		padding-top: 0;
	}
	.tab-pane.show {
		display: block;
	}
}

.program {

	p {
		margin: 0;
	}

}

.program-day {
	&:not(:first-child) {
		margin: 100px 0;
	}

	.header {
		h5,
		h3 {
			display: inline-block;
		}
	}

	h4 {
		margin-bottom: 40px;
	}

	h3 {
		span {
			@apply text-highlight tracking-wider;
		}
	}
}

.people {
}
