<template>
	<div class="">
		<div v-if="!permitted" class="page event fh20202 min-h-screen">
			<div class="hero block pt-40">
				<div style="text-align: center; margin-bottom: 40px">
					Access the Gathering Hub
				</div>
			</div>
			<div id="form-confirm" class="page event fh20202">
				<form
					id="confirmForm"
					class="text-center"
					@submit.prevent="submitForm"
				>
					<p v-if="form.error" class="error">
						The password you entered is incorrect.
					</p>
					<input
						v-model="form.password"
						type="textbox"
						name="password"
						placeholder="Enter Password"
						required
						@keydown="form.error = false"
					/>
					<br />
					<input
						v-if="!form.success"
						type="submit"
						value="Submit"
						name="submit"
						class="button"
					/>
				</form>
			</div>
			<!-- <EventFooter /> -->
		</div>

		<div v-if="permitted" class="page event fh20202">
			<!-- <Hero
				subtext="Tuscany, Italy<br />July 28 - Aug 1, 2021"
				video="FH201-cover-vid3-720-comp.mp4"
			></Hero> -->
			<div class="hero block">
				<div class="wrap flex">
					<div class="col--left text-left">
						<h5>Tuscany, Italy<br />July 28 - Aug 1, 2021</h5>
						<h2>FH 21.1</h2>
						<p>
							Welcome to the Hub. Here you will find information
							about schedule, themes and other guests.
						</p>
						<p>
							If you haven't yet,
							<a
								href="https://chat.whatsapp.com/DMv5eWzRuKf1ku59sQ9BsF"
							>
								join our chat group </a
							>.
						</p>
						<p>♥ F</p>
					</div>
					<!-- <div class="col--right ph:text-center">
						<a
							class="button whitespace-no-wrap px-10  self-start  tracking-normal hidden ta:block"
							href="https://futurehorizon.to"
							target="_blank"
							>Future Horizon</a
						>
					</div> -->
				</div>
			</div>
			<section class="button-nav pb-0">
				<div class="items-center justify-center">
					<a
						href="#people"
						:class="{ active: isActive('people') }"
						class="button mt-8 nav-link"
						@click.prevent="setActive('people')"
					>
						People
					</a>
					<a
						href="#program"
						:class="{ active: isActive('program') }"
						class="button mt-8 nav-link"
						@click.prevent="setActive('program')"
					>
						Program
					</a>
					<a
						href="#themes"
						:class="{ active: isActive('themes') }"
						class="button mt-8 nav-link"
						@click.prevent="setActive('themes')"
					>
						Themes
					</a>
					<a
						href="#info"
						:class="{ active: isActive('info') }"
						class="button mt-8 nav-link"
						@click.prevent="setActive('info')"
					>
						Info
					</a>
					<a
						href="https://chat.whatsapp.com/DMv5eWzRuKf1ku59sQ9BsF"
						class="button mt-8 nav-link"
						target="_blank"
					>
						Chat
					</a>
				</div>
			</section>

			<div class="tab-content">
				<section
					id="program"
					class="tab-pane"
					:class="{ 'active show': isActive('program') }"
				>
					<div class="wrap program">
						<p>
							Before you is our program for this special gathering
						</p>
						<p>
							If you have any questions or need help with
							bookings? Message Angela at +1 (951) 375-7181 or use
							<a
								href="https://chat.whatsapp.com/DMv5eWzRuKf1ku59sQ9BsF"
							>
								our chat group
							</a>
						</p>

						<div class="program-day">
							<h3>WED <span>28</span></h3>
							<h4>CONNECT</h4>
							<ul>
								<li>
									<span>Evening Dress code</span>
									<h5>Black</h5>
								</li>
								<li>
									<span>5pm</span>
									<h5>Opening Reception</h5>
									<p>Pool Side</p>
								</li>
								<li>
									<span>6:30pm</span>
									<h5>Binding Ritual</h5>
									<p></p>
								</li>
								<li>
									<span>7pm</span>
									<h5>Animagika</h5>
									<p>Performance of Mother Earth</p>
									<h5>Tarantella</h5>
									<p>Ancient dance experience</p>
								</li>
								<li>
									<span>8pm</span>
									<h5>Etruscan Death Ceremony</h5>
									<p></p>
								</li>
								<li>
									<span>9pm</span>
									<h5>Casual Dinner with performances</h5>
									<p></p>
								</li>
								<li>
									<span>10pm</span>
									<h5>Celebration</h5>
									<p>Lagoon, Rico Loop & more</p>
								</li>
							</ul>
						</div>
						<div class="program-day">
							<h3>THU <span>29</span></h3>
							<h4>AWAKEN</h4>
							<ul>
								<li>
									<span>Evening Dress code</span>
									<h5>White</h5>
								</li>
								<li>
									<span>9am</span>
									<h5>Acroyoga Connection Workshop</h5>
									<p></p>
								</li>
								<li>
									<span>10am</span>
									<h5>Breathe Your Freedom (Breathwork)</h5>
									<p>Gregorio Avanzini and Andrea Ochoa</p>
								</li>
								<li>
									<span>12am</span>
									<h5>
										Welcome Talks
									</h5>
									<p>
										Matt Cyrankiewicz, Angela Bermudo, Amit
										Pradhan, Walfredo Gherardesca
									</p>
								</li>
								<li>
									<span>1:30pm</span>
									<h5>Terra & Agua Programming</h5>
									<p>
										Lubomila Jordanova, Mariasole Bianco,
										Celine Olesen, Sebastian Graf, Davide
										Petri
									</p>
								</li>
								<li>
									<span>2:30pm</span>
									<h5>Girl MOVE</h5>
									<p>Mara Santos, Marta Figuereido</p>
								</li>
								<li>
									<span>3pm</span>
									<h5>Lunch</h5>
									<p></p>
								</li>
								<li>
									<span>4pm</span>
									<h5>Carbon Panel</h5>
									<p>Plan A Earth, TrueCarbon, H2</p>
								</li>
								<li>
									<span>5pm</span>
									<h5>Voice Activation Workshop</h5>
									<p>Rico Loop</p>
									<h5>Tibal Snake Belly Dance Workshop</h5>
									<p>Kalypso</p>
								</li>
								<li>
									<span>6pm</span>
									<h5>Chill Time</h5>
									<p>
										Time to relax and get fancy for the
										evening
									</p>
								</li>
								<li>
									<span>6pm</span>
									<h5>Ecstatic Dance</h5>
									<p>Myk Tumolo</p>
								</li>
								<li>
									<span>8pm</span>
									<h5>Art Gallery Opening</h5>
									<p>Aperitivos, Artist Panel</p>
								</li>
								<li>
									<span>9pm</span>
									<h5>Seated Dinner</h5>
									<p>with performances</p>
								</li>
								<li>
									<span>10:30pm</span>
									<h5>Celebration</h5>
									<p>
										Andrei Matorin, Eli Fola, Naima Pohler,
										Gregorio Avanzini + surprises (not a
										wild night)
									</p>
								</li>
							</ul>
						</div>
						<div class="program-day">
							<h3>FRI <span>30</span></h3>
							<h4>ENVISION</h4>
							<ul>
								<li>
									<span>Evening Dress code</span>
									<h5>Future Renaissance</h5>
								</li>
								<li>
									<span>8am</span>
									<h5>Terra &amp; Aqua Excursions</h5>
									<p>
										Terra: Etruscan Land exploration and
										wine tasing
									</p>
									<p>Aqua: Elba Island exploration</p>
								</li>
								<li>
									<span>3pm</span>
									<h5>Lunch</h5>
									<p></p>
								</li>
								<li>
									<span>3:15pm</span>
									<h5>Realities Temple Opening</h5>
									<p>
										Envelop Sound Bath, Drop in the Ocean,
										Maloka
									</p>
								</li>
								<li>
									<span>4pm</span>
									<h5>Future Talks: Daniel Pinchbeck</h5>
									<p></p>
								</li>
								<li>
									<span>5pm</span>
									<h5>Impact Panel</h5>
									<p>Amit Pradhan &amp; Tharald Nustad</p>
								</li>
								<li>
									<span>6pm</span>
									<h5>Doumi</h5>
									<p>
										End of Knowledge/Oceanic Global/
										woomoonibiza
									</p>
								</li>
								<li>
									<span>6:30pm</span>
									<h5>Terra &amp; Agua Programming</h5>
									<p>
										Dr. Jampel Dell’Angelo, XPolli:Nation,
										Global Coralition
									</p>
								</li>
								<li>
									<span>7pm</span>
									<h5>Humanity Workshops</h5>
									<p>Creativity with Dominika Koczot</p>
									<p>
										Communication Research with Anya Ananda
										Schwartz
									</p>
								</li>
								<li>
									<span>8pm</span>
									<h5>Chill time</h5>
									<p>
										Time to relax and get fancy for the
										evening
									</p>
								</li>
								<li>
									<span>9:30pm</span>
									<h5>Casual Dinner with performances</h5>
									<p>Gregorio + Andrea, Chele</p>
								</li>
								<li>
									<span>11pm</span>
									<h5>Celebration</h5>
									<p>
										Palmero, Deer Jade, Rico Loop, Myk
										Tummolo and others
									</p>
								</li>
							</ul>
						</div>
						<div class="program-day">
							<h3>SAT <span>31</span></h3>
							<h4>BUILD</h4>
							<ul>
								<li>
									<span>Evening Dress code</span>
									<h5>Black</h5>
								</li>
								<li>
									<span>9am</span>
									<h5>Yoga &amp; Meditation</h5>
									<p></p>
								</li>
								<li>
									<span>10:30am</span>
									<h5>Breath of One (Breathwork)</h5>
									<p>Gregorio Avanzini and Andrea Ochoa</p>
									<p>
										Please bring a change of clothing which
										you don't mind getting stained (fully
										washable)
									</p>
								</li>
								<li>
									<span>12:30pm</span>
									<h5>Action Talks</h5>
									<p>Rob Holzer</p>
									<p>Billy Waterson &amp; Xander Schultz</p>
								</li>
								<li>
									<span>3pm</span>
									<h5>Lunch</h5>
									<p></p>
								</li>
								<li>
									<span>3:30pm</span>
									<h5>Action Talks</h5>
									<p>Chris Erthel</p>
									<p>Dr. Andrea Sforzi</p>
									<p>Zoë Pappis</p>
									<p>Neil Agius</p>
									<p>Jean-François Boland</p>
									<p>Elodie Jeanne</p>
								</li>
								<li>
									<span>6:30pm</span>
									<h5>One Planet Workshop</h5>
									<p></p>
								</li>
								<li>
									<span>7:30am</span>
									<h5>
										Sunset Regeneration &amp; Tree
										Meditation
									</h5>
									<p>
										Andrei Matorin (violin), Christopher
										Willits (live)
									</p>
								</li>
								<li>
									<span>8pm</span>
									<h5>Chill time</h5>
									<p>
										Time to relax and get fancy for the
										evening
									</p>
								</li>
								<li>
									<span>9:30pm</span>
									<h5>Sensorial Dinner</h5>
									<p>Surprise performances</p>
								</li>
								<li>
									<span>10:30pm</span>
									<h5>Celebration</h5>
									<p>
										Francesca Lombardo, WAÏ, Dumes,
										Champagne Finish, Orijins and more
									</p>
								</li>
							</ul>
						</div>
						<div class="program-day">
							<h3>SUN <span>1</span></h3>
							<h4>INTEGRATE</h4>
							<ul>
								<li>
									<span>Dress code</span>
									<h5>Casual</h5>
								</li>
								<li>
									<span>5pm</span>
									<h5>Opening Reception</h5>
									<p>Pool Side</p>
								</li>
								<li>
									<span>9am</span>
									<h5>Yoga & Meditation</h5>
									<p></p>
								</li>
								<li>
									<span>12pm</span>
									<h5>Brunch</h5>
									<p></p>
								</li>
								<li>
									<span>12pm</span>
									<h5>Tuscan Wellness Experience</h5>
									<p>Angelic sounds and cuddles.</p>
									<p>
										Contact to book massage and other
										activities.
									</p>
								</li>
								<li>
									<span>3pm</span>
									<h5>Closing Ritual</h5>
									<p></p>
								</li>
								<li>
									<span>4pm</span>
									<h5>Check out</h5>
									<p></p>
								</li>
							</ul>
						</div>
					</div>
				</section>

				<section
					id="people"
					class="tab-pane"
					:class="{ 'active show': isActive('people') }"
				>
					<div class="wrap people">
						<p>
							We are expecting around 110 guests. Here are
							profiles of most of you.
						</p>
						<p>
							Some decided to be anonymous here, but you will
							surely find them at the castle!
						</p>
						<human
							name="Adrian Santos"
							about="Passionately involved with activities in renewable fuels, aviation, and music."
							image="/images/events/FH20211/people/Adrian_Santos.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Ahlem	Baccouche"
							about="Art market specialist with a focus on valuations &amp; collecting. Producer at HOO KOO E KOO. 8+ years in capital markets and business intelligence. Passion for Art x Finance x Tech."
							image="https://media-exp1.licdn.com/dms/image/C5603AQEuXemUTc2QUQ/profile-displayphoto-shrink_400_400/0/1587767249086?e=1632355200&v=beta&t=Zprmwih9FGco_OxcbgQuruOY4q9KMjqv1ATgpW5jOuM"
							linkedin="https://www.linkedin.com/in/ahlem-baccouche-6a3abb36/"
							instagram=""
							website=""
						/>
						<human
							name="Ahmed	Hadjeres"
							about="Serial entrepreneur, engineer. Previously Head of Eventbrite labs."
							image="https://media-exp1.licdn.com/dms/image/C5603AQF1SrmVFTE2AQ/profile-displayphoto-shrink_400_400/0/1589752896469?e=1632355200&v=beta&t=3svqawp5J_ahPgf2bXyVZ-55dyQhrnG3tVdDLEKCFOA"
							linkedin="https://www.linkedin.com/in/ahmed-hadjeres-41164928/"
							instagram=""
							website=""
						/>
						<human
							name="Aleksandra Petrykowska"
							about="Senior Partner at PSM Legal. Vice-chairman of Supervisory Board, BRAND NEW GALAXY."
							image="https://media-exp1.licdn.com/dms/image/C5603AQGggm0ZgUGN6A/profile-displayphoto-shrink_400_400/0/1517762163614?e=1632355200&v=beta&t=-4ZZcytt8FejUFZvUoi5E8BdEzPrCuyFhBbNaFjD7L0"
							linkedin="https://www.linkedin.com/in/aleksandra-petrykowska-09868811/"
							instagram=""
							website=""
						/>
						<human
							name="Alex Dumitrescu"
							about="Technical Sales Engineer at Nozomi Networks, DJ and entrepreneur."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQHOEBp91rpX9w/profile-displayphoto-shrink_400_400/0/1576081346448?e=1632355200&v=beta&t=t61QAwEENFme4QaZa-fjOeIttkmeUMBQBGpm1xtTLvk"
							linkedin="https://www.linkedin.com/in/alex-dumitrescu-21b282156/"
							instagram=""
							website=""
						/>
						<human
							name="Amit Pradhan"
							about="Creator, Investor &amp; Speaker focused on using exponential tech to move humanity forward. Responsible Leader @ BMW Foundation, founder SVBS and Rainfall"
							image="https://media-exp1.licdn.com/dms/image/C5603AQHRiBa5bRvsLg/profile-displayphoto-shrink_400_400/0/1599111922341?e=1632355200&v=beta&t=SSDmkwmJdOqYSTZIvx38BcFIxNgH7fGirSWSI7sNBF0"
							linkedin="https://www.linkedin.com/in/amitpradhan/"
							instagram=""
							website=""
						/>
						<human
							name="Andrea Ochoa"
							about="Media Manager at Troop Partners"
							image="/images/events/FH20211/people/Andrea_Ochoa.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Asia Mierghani"
							about="Former Model. Luxury marketing / brand consultant."
							image="/images/events/FH20211/people/AsiaMierghani.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Rob Angel"
							about="Creator/founder of PICTIONARY®, author, speaker &amp; explorer"
							image="https://media-exp1.licdn.com/dms/image/C4D03AQH1V-w3LCb6TQ/profile-displayphoto-shrink_400_400/0/1611812780036?e=1632355200&v=beta&t=nH-Xofen2jGWC_tOHY71VdL5vQu83fv6fGlcsUxd6lE"
							linkedin="https://www.linkedin.com/in/therobangel/"
							instagram=""
							website=""
						/>
						<human
							name="Andrei Matorin"
							about="Artist, producer &amp; educator. Featured as a soloist at such prestigious institutions as Carnegie Hall, Lincoln Center, Kennedy Center, MoMA, as well as presenting while musical director at TEDx."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQHMVkKVzK0Mig/profile-displayphoto-shrink_400_400/0/1516503075356?e=1632355200&v=beta&t=UYTuXdgbyOpjtN5I7rhazdfj-HFHR2yDPodjB03UUaY"
							linkedin="https://www.linkedin.com/in/andrei-matorin-82449a13/"
							instagram="https://www.instagram.com/matorinmusic/"
							website="https://www.andreimatorin.com"
						/>
						<human
							name="Angela Bermudo"
							about="Future Horizon CEO. I'm on a mission to redesign the
								world for a better common future by leveraging
								human-centered design thinking and behavior sciences."
							image="https://media-exp1.licdn.com/dms/image/C5603AQG0y2FLTEh2eg/profile-displayphoto-shrink_400_400/0/1598479954899?e=1632355200&v=beta&t=cggB7z-ms_zruIPeqITOTvhgJerC0SHVllytnzQ7isU"
							linkedin="https://www.linkedin.com/in/angela-jacob-bermudo-67977a42/"
							instagram="https://www.instagram.com/angelajacob/"
							website=""
						/>
						<human
							name="Angelica Blotkevich"
							about="Angelica’s life purpose is helping people find their new home."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQGYIfY7jxzKzQ/profile-displayphoto-shrink_400_400/0/1516888311435?e=1632355200&v=beta&t=7e8S0ck4VmPc2lZWDzhO8JGZowph16BqXvEwFpNg0w8"
							linkedin="https://www.linkedin.com/in/angelicablotkevich/"
							instagram=""
							website=""
						/>
						<human
							name="Anya Ananda Schwarz"
							about="Anya is a performance artist, following the mission to embody the depth of the psyche and inspire others to dive into their dark feminine, meaning emotions, sexuality, sensuality and intuition."
							image="/images/events/FH20211/people/Anya_Ananda.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Anoushka Mirchandani"
							about="Indian born, San Francisco based multidisciplinary artist investigating immigrant identity, cultural psychology and the intricacies of code-switching."
							image="/images/events/FH20211/people/Anoushka_Mirchandani.jpeg"
							linkedin="https://www.linkedin.com/in/anoushkamirchandani/"
							instagram="https://www.instagram.com/anoushka/"
							website=""
						/>
						<human
							name="Ariadna	Rabasa"
							about="Marketing professional, kitesurfing instructor, HOO KOO E KOO Nomadic Studio Manager."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQH30qvacjMwpA/profile-displayphoto-shrink_400_400/0/1591921280721?e=1632355200&v=beta&t=aTeOONldKLM09WyYWTnPP1Y3h8O9XqeqTe2qWuw39dc"
							linkedin="https://www.linkedin.com/in/arianarabasa/"
							instagram=""
							website=""
						/>
						<human
							name="Aryn Shelander"
							about="H2H Contortionist &amp; Foot-archer. America’s Got Talent. App designer &amp; Co-founder: @getgridrewards @lightspaceapp @aviva_app"
							image="https://media-exp1.licdn.com/dms/image/C4D03AQFnt1djkb8Eog/profile-displayphoto-shrink_400_400/0/1533237036722?e=1632355200&v=beta&t=IvHJEoxLdXiPcXJG0z1wmgJoF7zIkTvX9TZXpSwpeFU"
							linkedin="https://www.linkedin.com/in/aryn-shelander-3513364/"
							instagram="https://www.instagram.com/goaryn/"
							website=""
						/>
						<human
							name="Ben Truck"
							about="Founder, Portfolio Manager, Investor, DJ, CEO of a Hedgefund in NYC with keen interest in the environmental protection."
							image="/images/events/FH20211/people/Ben_Truck.jpeg"
							linkedin="https://www.linkedin.com/in/ben-truck-6b9b7/"
							instagram=""
							website=""
						/>
						<human
							name="Bianca Beatty"
							about="Founder + CEO at RAVEN + CO. Marketing consultant and global events producer with a 10+ year comprehensive background in e-commerce, IT, enterprise, non-profit, and Blockchain."
							image="https://media-exp1.licdn.com/dms/image/C5603AQEXEe5EePylWA/profile-displayphoto-shrink_400_400/0/1588099295235?e=1632355200&v=beta&t=MbRY944EO7GRN2aHNpIAyz-LMAwVybgL5pLDo7f_Vg4"
							linkedin="https://www.linkedin.com/in/bianca-beatty-64377715/"
							instagram=""
							website=""
						/>
						<human
							name="Billy	Waterson"
							about="Executive Director at Galaxy Gives. Co-founder and co-director at OneForDemocracy, GalaxyLabs."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQG9bozEbhKYDw/profile-displayphoto-shrink_400_400/0/1620355222852?e=1632355200&v=beta&t=XLTZlbfT4v_yLmVGJWMSxbd_Kmycy8grU_0ILpEKn0k"
							linkedin="https://www.linkedin.com/in/billy-watterson-62159940/"
							instagram=""
							website=""
						/>
						<human
							name="Briana Young"
							about="Social worker/therapist passionate about humanity's collective healing."
							image="/images/events/FH20211/people/Briana_Young.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Calvin Hoenes"
							about="I’m a Multi-Disciplinary Designer, Artist and Developer in love with complex systems, aesthetics and the psyche."
							image="/images/events/FH20211/people/update/CalvinHoenes.jpeg"
							linkedin="https://www.linkedin.com/in/calvin-hoenes/"
							instagram=""
							website=""
						/>
						<human
							name="Camilla	Bottari"
							about="Founder Eve's Disclosure, a company which aim to empower women to be proactive rather than reactive. I love art and design and I collect both."
							image="/images/events/FH20211/people/Camilla_Bottari.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Chelsea	Odufu"
							about="Featured in Forbes &amp; NY Times Film &amp; Branded Content Director"
							image="/images/events/FH20211/people/Chelsea_Odufu.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Charles	Newton Price"
							about="An accomplished results-oriented leader, technology professional and entrepreneur. Chief Growth Officer at Euro Asia Pay Holdings."
							image=""
							linkedin="https://www.linkedin.com/in/chnewton/"
							instagram=""
							website=""
						/>
						<human
							name="Chris	Spearpoint"
							about="Creative services specialist, Managing Partner at HOO KOO E KOO and a DJ."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQHuBZxnHLkqUw/profile-displayphoto-shrink_400_400/0/1516793732275?e=1632355200&v=beta&t=XY4_EKqUh_A5JQUriK5DEqNR6BYtqobaAdRlbn45cic"
							linkedin="https://www.linkedin.com/in/christopher-spearpoint-3996367b/"
							instagram=""
							website=""
						/>
						<!-- <human
							name="Chris	Vickory"
							about=""
							image=""
							linkedin=""
							instagram=""
							website=""
						/> -->
						<human
							name="Chris Erthel"
							about="Co-Founder @Meller, Ethical Facebook Marketing, Entrepreneur - Investor - Mentor"
							image="https://media-exp1.licdn.com/dms/image/C4E03AQGx0yxuWqni1Q/profile-displayphoto-shrink_400_400/0/1591370689300?e=1632355200&v=beta&t=NxFoti0TC6JPEdyCg0OC104adauc_hgDGu8ZNUSHykk"
							linkedin=""
							instagram=""
							website="https://chriserthel.com/"
						/>
						<human
							name="Christopher	Willits"
							about="Artist, Musician, Producer, Co-founder &amp; Director of Envelop"
							image="https://media-exp1.licdn.com/dms/image/C5603AQGQnI71CTzS6w/profile-displayphoto-shrink_400_400/0/1587245427856?e=1632355200&v=beta&t=tiYdAOj39UQHrVILNiwsTHFvRQuJX5EglTdsAZPmNR8"
							linkedin="https://www.linkedin.com/in/christopherwillits/"
							instagram=""
							website=""
						/>
						<human
							name="Daniel Pinchbeck"
							about="Author of Breaking Open the Head, 2012: The Return of Quetzalcoatl, How Soon Is Now. Co-founder of Evolver, The Alchemist Kitchen. Featured in The New York Times Magazine, Rolling Stone, ArtForum, and many other publications."
							image="https://media-exp1.licdn.com/dms/image/C5103AQH2scpHUUqCqQ/profile-displayphoto-shrink_400_400/0/1516319650053?e=1632355200&v=beta&t=jdvhAcd3fCwi72B0KaG8onOaNTewZbGTtrxlDqb_d7k"
							linkedin="https://www.linkedin.com/in/daniel-pinchbeck-a907a81/"
							instagram=""
							wikipedia="https://en.wikipedia.org/wiki/Daniel_Pinchbeck"
						/>
						<human
							name="Danni Washington"
							about="The first African-American woman to host her own science TV series. Co-founder of Big Blue &amp; Sea Youth Rise Up, an inspirational speaker, and a passionate advocate for ocean and planet conservation."
							image="https://media-exp1.licdn.com/dms/image/C5603AQHqCVQ2uQZ8Lw/profile-displayphoto-shrink_400_400/0/1617386664684?e=1632355200&v=beta&t=V8aNiH49EKQ5JenW_MyVwK_I_1AbxSAqNXdl88hFlqY"
							linkedin="https://www.linkedin.com/in/danniwashington/"
							instagram="https://www.instagram.com/danniwashington/"
							wikipedia="https://en.wikipedia.org/wiki/Danni_Washington"
						/>
						<human
							name="Dan	Vogler"
							about="CoFounder &amp; CEO at AMZSCALE (AMACOA GmbH)"
							image="https://media-exp1.licdn.com/dms/image/C4D03AQG-61Zpsg8wfw/profile-displayphoto-shrink_400_400/0/1611098992749?e=1632355200&v=beta&t=vihA-8yhYUoJpXROEAkOt2SXf_Vcect5aLIahKfqt14"
							linkedin=""
							instagram=""
							website=""
						/>
						<!-- <human
							name="Daniel Olivier Busturia"
							about=""
							image=""
							linkedin=""
							instagram=""
							website=""
						/> -->
						<human
							name="Dexter Dake"
							about="Creative Director, Entrepreneur"
							image="https://media-exp1.licdn.com/dms/image/C5603AQHZGyGe4TVeKA/profile-displayphoto-shrink_400_400/0/1604071098902?e=1632355200&v=beta&t=tdZfVY8l9yG9hkyWW3sLpvPFKfts4Fb-cYEx3SziIcM"
							linkedin="https://www.linkedin.com/in/dexterdake/"
							instagram=""
							website=""
						/>
						<human
							name="Dominika Koczot"
							about="An artist, visionaire and project manager connecting political leaders with grassroots communities, bringing together cultural groups and creating complex identities. Worked in Italy, UK, Moscov and Poland."
							image="/images/events/FH20211/people/update/DominikaKoczot.jpeg"
							linkedin="https://www.linkedin.com/in/dominika-koczot-022a8452/"
							instagram=""
							wikipedia=""
						/>
						<human
							name="Eli	Fola"
							about="Eli Fola is a Nigerian born, New York and Tulum based multi disciplinary sound artist, saxophonist, DJ, and producer. He is the creator and pioneer of the live-hybrid set “Yoruba Tech Soul”— a fusion of AfroHouse, Techno, Jazz, and Classical music."
							image="/images/events/FH20211/people/Eli_ Fola.jpeg"
							linkedin="https://www.linkedin.com/in/eli-fola-636319122/"
							instagram="https://www.instagram.com/eli.fola/?hl=en"
							website=""
						/>
						<human
							name="Elina Diemer"
							about="Born in Russia, living in New York City. She grew up in a family of architects, which is how she developed her passion for real estate."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQH0kmytPpToZQ/profile-displayphoto-shrink_400_400/0/1545370308695?e=1632355200&v=beta&t=dogEuVZeFv_kGf_tqi4oW5oULagFi6rlB85zI4gAVoE"
							linkedin="https://www.linkedin.com/in/elina-diemer-451a813a/"
							instagram=""
							website=""
						/>
						<human
							name="Elizabeth	Novogratz"
							about="A mindfulness expert and the co-author of “Just Sit: A Meditation Guidebook for People Who Know They Should But Don't” translated to 10+ languages."
							image="https://images.squarespace-cdn.com/content/v1/552d7a52e4b0ede95614e9c8/1535842718566-EHENVN4HOUWY1UZIP5X5/Elizabeth+Novogratz+for+Passerbuys14.jpg?format=2500w"
							linkedin=""
							instagram=""
							website="http://www.passerbuys.com/profiles/elizabeth-novogratz"
						/>
						<human
							name="Elodie Jeanne"
							about="Corporate Social Responsibility / Circular economy / Ivanhoe Cambridge"
							image="/images/events/FH20211/people/Elodie_Jeanne.jpeg"
							linkedin="https://www.linkedin.com/in/elodiejeanne/"
							instagram=""
							website=""
						/>
						<human
							name="Emma Hsieh"
							about=""
							image=""
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Farzad Irani"
							about="Persian lost in Italy"
							image="/images/events/FH20211/people/update/FarzadIrani.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Francesca Lombardo"
							about="Francesca Lombardo is an electronic music producer and DJ. At age 13, Lombardo joined the Conservatorium of music in Italy where she studied and graduated in vocal techniques and piano."
							image="/images/events/FH20211/people/lombardo_francesca.jpg"
							linkedin=""
							instagram="https://www.instagram.com/francescalombardomusic/"
							wikipedia="https://en.wikipedia.org/wiki/Francesca_Lombardo"
						/>
						<human
							name="Gigliola Queiroz Santi"
							about="Model &amp; Actress. Founder and creative director of Santi Home Decor"
							image="/images/events/FH20211/people/Gigi.jpg"
							linkedin="https://www.linkedin.com/in/gigliolaqueiroz/"
							instagram="https://www.instagram.com/gigliolaqueiroz"
							website=""
						/>
						<human
							name="Giulia Bocci"
							about="Event producer. Lead Project Manager at HOO KOO E KOO."
							image="https://media-exp1.licdn.com/dms/image/C5103AQE2wy5J3ta0iw/profile-displayphoto-shrink_400_400/0/1517578058576?e=1632355200&v=beta&t=k8CmwCnYsAgA_FX4JdiRaeEnIjvc9F1vZLvww1h-5fE"
							linkedin="https://www.linkedin.com/in/giulia-bocci-4962b9b2/"
							instagram=""
							website=""
						/>
						<human
							name="Greg Hajdarowicz"
							about="Entrepreneur, film producer, publisher, honorary consul of the Federative Republic of Brazil in Kraków. Participant of the international Bilderberg meeting."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQHTgRjWMtcGPw/profile-displayphoto-shrink_400_400/0/1559900543365?e=1632355200&v=beta&t=f3uAyydU1iPNtUlvvlnL9HXiV3PF09Z0G8EJuJ-8gNs"
							linkedin="https://www.linkedin.com/in/greg-hajdarowicz-72615a188/"
							instagram=""
							wikipedia="https://en.wikipedia.org/wiki/Grzegorz_Hajdarowicz"
						/>
						<human
							name="Gregorio Avanzini"
							about="Life Architect, Community Activator, Fulbright Scholar, Public Speaker, Events Curator, Meditation Facilitator"
							image="https://media-exp1.licdn.com/dms/image/C5603AQEQcslHmcQpuQ/profile-displayphoto-shrink_400_400/0/1569876706598?e=1632355200&v=beta&t=WKPAX6OtEgmJCvhffU_iip6u4sz--53MkKpOQCEaKpE"
							linkedin="https://www.linkedin.com/in/gregorio-avanzini-a1686315/"
							instagram=""
							website=""
						/>
						<human
							name="Helenna Felippe"
							about="Brasilian international model. World traveler and mindfulness explorer."
							image="/images/events/FH20211/people/Helena.jpeg"
							linkedin=""
							instagram="https://www.instagram.com/helennafelippe/"
							website=""
						/>
						<human
							name="Holly Wilson"
							about="Fashion model located in London, UK. Love to travel, explore, and do yoga. Currently writing my first book. "
							image=""
							linkedin=""
							instagram="https://www.instagram.com/helennafelippe/"
							website=""
						/>
						<human
							name="Henrik Beckmann"
							about="Henrik, co-founder and CEO of Momentum Data, serial entrepreneur, based in Barcelona"
							image="https://media-exp1.licdn.com/dms/image/C4E03AQFNB8F3Q1wM9A/profile-displayphoto-shrink_400_400/0/1603631989206?e=1632355200&v=beta&t=NvTl2zr3Wp2kHSQepWN5rwDC38q7t6SyBqEWZGdMNi0"
							linkedin="https://www.linkedin.com/in/henrik-beckmann/"
							instagram=""
							website=""
						/>
						<human
							name="Igor Beuker"
							about="Keynote Speaker, Entrepreneur, Activist."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQH_72TfaH9STw/profile-displayphoto-shrink_400_400/0/1595585307593?e=1632355200&v=beta&t=f8jmyX9x2FE14enIyn4MlFU89Qkkd5SYcC6fsmbjhBE"
							linkedin="https://www.linkedin.com/in/igorbeuker/"
							instagram=""
							website=""
						/>
						<human
							name="Jake Vartanian"
							about="Crypto + community economics. A self-taught stock trader in his youth, Jake got into cryptocurrency in early 2011."
							image="https://media-exp1.licdn.com/dms/image/C5603AQFGBr6KMgBsZw/profile-displayphoto-shrink_400_400/0/1609063474321?e=1632355200&v=beta&t=LwM8bi1UB69PWQN7Svbm-GGmAYFMSSkaI3o8DFZCcDc"
							linkedin="https://www.linkedin.com/in/jakevartanian/"
							instagram=""
							website=""
						/>
						<human
							name="Jampell Dell'Angello"
							about="Jampel Dell’Angelo is Associate Professor of Water Governance and Politics in the Department of Environmental Policy Analysis at the Institute for Environmental Studies (IVM), Vrije Universiteit Amsterdam, The Netherlands. "
							image="/images/events/FH20211/people/update/JampelDellAngelo.jpeg"
							linkedin="https://www.linkedin.com/in/jampel-dell-angelo-phd-619265b9/"
							instagram=""
							website=""
						/>
						<human
							name="Jean-François	Boland"
							about="Manager, Professor, Researcher, Electrical engineer. École de Technologie Supérieure (ÉTS), Montreal."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQHB4rIFZG6cRQ/profile-displayphoto-shrink_400_400/0/1615586885837?e=1632355200&v=beta&t=OxBOIgcoFrT2CAOhAkWrtVDEguz-2YT0IF5p_1WQeQE"
							linkedin="https://www.linkedin.com/in/profboland/"
							instagram=""
							website=""
						/>
						<human
							name="Jordan Lejuwaan"
							about="Serial entrepreneur, Futurist, co-founder Futurism &amp; many more. Forbes 30 under 30."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQFWIJFQn8P_4w/profile-displayphoto-shrink_400_400/0/1587055572450?e=1632355200&v=beta&t=pQeyk_52mo-k_xCErhTfJpbNXAdx9pmQO0ddi_LPvIw"
							linkedin="https://www.linkedin.com/in/jordan-lejuwaan/"
							instagram=""
							website=""
						/>
						<human
							name="Joshua Decker"
							about="Galaxy Labs, Designer"
							image="https://media-exp1.licdn.com/dms/image/C4E03AQHJdDSS20gckA/profile-displayphoto-shrink_400_400/0/1615494768299?e=1632355200&v=beta&t=lN7XqrIjQYDlmo5GJM8AggVq5UqRBF7UuR8cbfjCyh0"
							linkedin="https://www.linkedin.com/in/gojoshdecker/"
							instagram=""
							website=""
						/>
						<human
							name="Justin Anthony Sherratt"
							about="Co-Founder of GFH industries – mental health focused company that combines science and nature."
							image="https://media-exp1.licdn.com/dms/image/C5603AQESRFLpm0HfBQ/profile-displayphoto-shrink_400_400/0/1580151794793?e=1632355200&v=beta&t=jm60sVZ7e_wnkoAk8jOwvPbSc7LGcslHbUmvjbQryVc"
							linkedin="https://www.linkedin.com/in/jasherratt/"
							instagram=""
							website=""
						/>
						<human
							name="Julian Tse"
							about="Making the ephemeral last an eternity. Human-centric, multilingual Photographer. Mentor. Finance professional"
							image="https://media-exp1.licdn.com/dms/image/C4E03AQFEaLBj-zeBXA/profile-displayphoto-shrink_400_400/0/1567715564398?e=1632960000&v=beta&t=1SSgfIiWdsw1f67fgCCQz917aGQSiWoboWvPhiFLGb0"
							linkedin="https://www.linkedin.com/in/juliantse1/"
							instagram=""
							website=""
						/>
						<human
							name="Justyna	Cyrankiewicz"
							about="Writer, lecturer, TEDx speaker, social and environmental activist, model."
							image="https://media-exp1.licdn.com/dms/image/C5603AQEYzyuzMAffCw/profile-displayphoto-shrink_400_400/0/1557792221545?e=1632355200&v=beta&t=ollsp-SWy10ONLsxZ5qU3UvKZOMQghsMFZoaK6AuSRo"
							linkedin="https://www.linkedin.com/in/justyna-cyrankiewicz/"
							instagram=""
							website=""
						/>
						<human
							name="Kalypso"
							about="Muse, magician, dancer, artivist."
							image=""
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Kate Shyrkavets"
							about="Earnst and Young"
							image="/images/events/FH20211/people/shyrkavets_kate.jpg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Kate Ladik"
							about="US real estate. I love travel, meeting new people and good wine."
							image="/images/events/FH20211/people/update/KateLadik.jpeg"
							linkedin="https://www.linkedin.com/in/kate-ladik-937b4719b/"
							instagram=""
							website=""
						/>
						<human
							name="Kautilya Kautilya"
							about="Dermatologist, owner of an Urgent Care Clinic in Florida. Love to wakeboard, surf, travel, adventure, the finer things in life. Pursuing my private pilots license currently."
							image="/images/events/FH20211/people/update/KautilyaKautilya.jpeg"
							linkedin="https://www.linkedin.com/in/doctorkderm/"
							instagram=""
							website=""
						/>
						<human
							name="Luis Amaral"
							about="CEO of Eurocash SA. Founder of Girl MOVE Academy. Previously CEO at LAEP Investments Ltd., Member-Executive Committee at Jeronimo Martins Holding and Partner at Ant Global Partners Pte Ltd."
							image="https://grupaeurocash.pl/assets/media/luis-amaral_1.jpg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Lubomila Jordanova"
							about="Lubomila Jordanova is the founder and CEO of PlanA.Earth. Also the co-founder of the Greentech Alliance. Marshall Fund Fellow for 2021 and 100 Top Women in Germany 2020."
							image=""
							linkedin="https://www.linkedin.com/in/ljordanova/"
							instagram=""
							website=""
						/>
						<human
							name="Linda	Mäkelä"
							about="Linda is a dream weaver, a wisdom keeper, and a natural born muse. A sensual expression of life itself."
							image=""
							linkedin="https://www.linkedin.com/in/linda-makela-taika-store/"
							instagram=""
							website=""
						/>
						<human
							name="Maham	Jamshed"
							about="Product, Brand, Marketing &amp; Management Strategy Builder. HOO KOO E KOO General Reality VR producer."
							image="https://media-exp1.licdn.com/dms/image/C5603AQEEpg76sk3Xxw/profile-displayphoto-shrink_400_400/0/1517579757249?e=1632355200&v=beta&t=Q48SQENsebpiqkqRVxEVAa4QZyMatScqOT9njAdyr-Y"
							linkedin="https://www.linkedin.com/in/maham-jamshed-26ba314b/"
							instagram=""
							website=""
						/>
						<human
							name="Maja Vujinovic"
							about="CEO @ OGroup. Investor in mobile payments and digital assets since 2008 and is currently a thought leader in digital payments, IoT, change management and AI."
							image="/images/events/FH20211/people/vujinovic_maja.jpg"
							linkedin="https://www.linkedin.com/in/majavujinovic/"
							instagram=""
							website=""
						/>
						<human
							name="Mara Santos"
							about="Stakeholders Engager @ Girl MOVE Academy"
							image="https://media-exp1.licdn.com/dms/image/C4E03AQGntZIKk5MmRA/profile-displayphoto-shrink_400_400/0/1622056825029?e=1632355200&v=beta&t=lEpAeGfNorzWSUugCsjpYJtWITi-yxFiJt6h7Mdlzf0"
							linkedin="https://www.linkedin.com/in/mara-santos-39912542/"
							instagram=""
							website=""
						/>
						<human
							name="Marcin Petrykowski"
							about="CEO for a innovative technology group &amp; leading voice for digital finance, new economy &amp; capital markets. Prior executive for S&amp;P Global, JPMorgan &amp; Citi in EMEA. Passionate about ESG in business, mentorship &amp; self-growth."
							image="/images/events/FH20211/people/Marcin_Petrykowski.jpeg"
							linkedin="https://www.linkedin.com/in/marcin-petrykowski/"
							instagram=""
							website=""
						/>
						<human
							name="Mariasole Bianco"
							about="A marine conservationist, environmental scientist and communicator. TV host, United Nations moderator, works with private sector on ocean responsibility. Has taught at University of Genoa. Nominated by la Repubblica as Woman of the Year 2020."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQFgzyve86Eadg/profile-displayphoto-shrink_400_400/0/1589797435489?e=1632355200&v=beta&t=h0dRoZSbaqw6wyck6DKylBnS7GhZ8Apk6QERF60uS9E"
							linkedin="https://www.linkedin.com/in/mariasole-bianco/"
							instagram=""
							website=""
						/>
						<human
							name="Marsha Moran"
							about="Colorist, Stylist, Educator &amp; Mentor"
							image="https://media-exp1.licdn.com/dms/image/C5603AQEQgmhUccbtSQ/profile-displayphoto-shrink_400_400/0/1516891054498?e=1632355200&v=beta&t=0E9DSHcqnwVqgUSPVxNHlr3ngqUQ5cYN4eujv5grgso"
							linkedin="https://www.linkedin.com/in/marsha-moran-499354b9/"
							instagram=""
							website=""
						/>
						<human
							name="Mateusz	Cyrankiewicz"
							about="Founder of Future Horizon. Designer, Creative Director, Environmentalist, Entrepreneur and Investor. Happiness seeker and finder. Founding Partner at HOO KOO E KOO."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQH9k-icdPtEIg/profile-displayphoto-shrink_400_400/0/1516563731710?e=1632355200&v=beta&t=AMZ_pKUhAwoEupHMh-l3Q6fKgiMD5GP1_Q4y-NujsoI"
							linkedin="https://www.linkedin.com/in/matcy/"
							instagram="https://www.instagram.com/bootl/"
							website="http://mat.cy/"
						/>
						<human
							name="Matthias	Kramer"
							about="Investor in solar power and sustainable tree business."
							image=""
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Micha	Boneliel"
							about="Co-Founder &amp; CEO - Nodle. Pioneer of VoIP and launched several telecommunications services in the past decade. He enabled Skype to start SkypeIn and SkypeOut. Co-founded Open Garde &amp; FireChat."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQEs-9G7HVvqnw/profile-displayphoto-shrink_400_400/0/1516231165711?e=1632355200&v=beta&t=JigppjZhHTmK3UJNFhR6qvEStvFue9s8QkM2BuTVv18"
							linkedin="https://www.linkedin.com/in/michabenoliel/"
							instagram=""
							website=""
						/>
						<human
							name="Michael Bykhovsky"
							about="Chief Strategy Officer at Artemis. President of Center for Open Economics - Advocacy; Co-Chair of Columbia University Entrepreneurship Program; Founder of AFT; Advisor to Congressional Financial Services Comitee."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQGQ8O4TI3at1Q/profile-displayphoto-shrink_400_400/0/1516838355399?e=1632355200&v=beta&t=6SzvG0PR_OqZGifa6v2pEUfF7LWcw2Iw1OlhSdJrdZE"
							linkedin="https://www.linkedin.com/in/michael-bykhovsky-1731741a/"
							instagram=""
							website=""
						/>
						<human
							name="Michael	Ketigian"
							about="Storyteller via Brand Strategy, Copywriting, and Topical Rap. Let’s talk about technology, sustainability, and education through multimedia education."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQHx46XA4GMxkw/profile-displayphoto-shrink_400_400/0/1516612833277?e=1632355200&v=beta&t=IeE3_lf1fU0T-BK2_wdmjmftNDGctkysbrkTT7CR74E"
							linkedin="https://www.linkedin.com/in/inversek/"
							instagram=""
							website=""
						/>
						<human
							name="Moudhi Altouq"
							about="Design Strategist. CEO of AlTouq Group is a Saudi Arabian Family Office."
							image=""
							linkedin="https://www.linkedin.com/in/moudhi-altouq-041b36148/"
							instagram=""
							website=""
						/>
						<human
							name="Nádia	Brás"
							about="I'm a young explorer and a sound thinker. I'm currently leading a innovation lab for Mozambican women building bridges between talent and present world challenges."
							image=""
							linkedin="https://www.linkedin.com/in/moudhi-altouq-041b36148/"
							instagram=""
							website=""
						/>
						<human
							name="Nick Fitz"
							about="Founder/CEO at Momentum. Previously, a Senior Behavioral Researcher at Dan Ariely’s Center for Advanced Hindsight and Startup Lab at Duke and a researcher at the University of British Columbia."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQG8-Tz60VEvEA/profile-displayphoto-shrink_400_400/0/1574586215189?e=1632355200&v=beta&t=vkxraT2pBoY6phku6EVCZzTZYR9Bvulf67zuiv9piEg"
							linkedin="https://www.linkedin.com/in/nick-fitz-nf123/"
							instagram=""
							website=""
						/>
						<human
							name="Nora Oberländer"
							about="Shaping the future of hydrogen mobility. H2 Mobility, Germany."
							image="https://media-exp1.licdn.com/dms/image/C5103AQF0SzCzB50tlA/profile-displayphoto-shrink_400_400/0/1570458645748?e=1632355200&v=beta&t=z4y5rcVC3tkBz4tRSKam0YnqbtKt8gXSPtRXlG1sriE"
							linkedin="https://www.linkedin.com/in/nora-oberlaender-74550a123/"
							instagram=""
							website=""
						/>
						<human
							name="Octavia	Abell"
							about="CEO &amp; Co-Founder Govern for America. Forbes 30 Under 30."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQFAd4uBS3aHTw/profile-displayphoto-shrink_400_400/0/1517550096880?e=1632355200&v=beta&t=H0Jo9ENIRQEQzoclfszBi8cmbIHAyIYRINGHWVHxGtQ"
							linkedin="https://www.linkedin.com/in/octavia-abell-a2146b29/"
							instagram=""
							website=""
						/>
						<human
							name="Patrick	Hessel"
							about="Chairman &amp; CEO AeroMobil Serial entrepreneur. Deep tech investor. Founder of c2i carbon-fiber auto / aero components, acquired by LG."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQG2lthoFYZ_6w/profile-displayphoto-shrink_400_400/0/1516211001446?e=1632355200&v=beta&t=sKeTVHhulld4qzDbr9rcT-9Uc7bNLOlwChBhbMz3NxM"
							linkedin="https://www.linkedin.com/in/patrick-hessel-008196/"
							instagram=""
							website=""
						/>
						<human
							name="Pratap Penumalli"
							about="A social justice entrepreneur,  technologist, economist, and environmentalist! My mission is to build systems that address inequality in society and help others do the same."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQHQaRt-rzVPQg/profile-displayphoto-shrink_400_400/0/1567270401321?e=1632355200&v=beta&t=cw6b8S59SaCB-bkzqIngVtAHgti1Dou7Lk58YbVDtQU"
							linkedin="https://www.linkedin.com/in/pratap-penumalli/"
							instagram=""
							website=""
						/>
						<human
							name="Rico Loop"
							about="Multi instrumental &amp; electronic musician. From Berlin but a complete nomad."
							image="/images/events/FH20211/people/loop_rico.jpg"
							linkedin=""
							instagram="https://www.instagram.com/ricoloopmusic/"
							website=""
						/>
						<human
							name="Rob	Holzer"
							about="Founder &amp; CEO of Matter Unlimited. ESG and the Purpose Economy marketing pioneer. Over 20 years leading agencies. Founding member of The Civic Nation Creative Alliance, created by the White House under President Obama, and now with President Biden."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQEYcGDeSNnS2Q/profile-displayphoto-shrink_400_400/0/1542902513562?e=1632355200&v=beta&t=dT884JIo8u7YB78Ei4s8MFZHsWT5Ud0-1ta-fMdpOxo"
							linkedin="https://www.linkedin.com/in/robmatters/"
							instagram=""
							website=""
						/>
						<human
							name="Samuel Palmer"
							about="Managing Director. Heado of Digital Wealth Planning at JP Morgan. Passionate musician and aspiring producer. Formerly an actor and TV host. Living in NYC."
							image="/images/events/FH20211/people/palmer_samuel.jpg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Samina Rind"
							about="Strategic advisor and investor passionate about contributing to human evolution and social impact."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQELnY2-17iE-Q/profile-displayphoto-shrink_400_400/0/1593473527206?e=1632960000&v=beta&t=eURSJm_bRy4Bsdu0XNl2SVDNhFX8E-r-zzr-J4NG6NQ"
							linkedin="https://www.linkedin.com/in/saminarind/"
							instagram=""
							website=""
						/>
						<human
							name="Sarah	Ramanuj"
							about="Experienced product manager with a strong track record of leading design, development and management of ecommerce platforms and large-scale digital strategies. Producer at HOO KOO E KOO."
							image="https://media-exp1.licdn.com/dms/image/C5603AQFVhV6ziqywcA/profile-displayphoto-shrink_400_400/0/1610578234182?e=1632355200&v=beta&t=FXnTbHsI1wNGnLTsRpSinpsK6_slJs-HKTNOZ5UDsFY"
							linkedin="https://www.linkedin.com/in/sarah-ramanuj-b3161451/"
							instagram=""
							website=""
						/>
						<human
							name="Sebastian	Graf"
							about="Entrepreneur, Robotics Engineer &amp; Environmental Speaker. Founder/CEO of True Carbon AG."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQExjUQwZ7Hz9A/profile-displayphoto-shrink_400_400/0/1570520572018?e=1632355200&v=beta&t=daF2sdIR9C-Uzx8zKUIudFQay3OwaOOk7lvekvWDkJo"
							linkedin="https://www.linkedin.com/in/sebastiangraf1/"
							instagram=""
							website=""
						/>
						<human
							name="Shannon Snow"
							about="Head of Media, Entertainment and Sports at Facebook/Instagram. She is a Google alum and Angel investor focusing on female founded startups."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQFDarcAGppYVg/profile-displayphoto-shrink_400_400/0/1589600774062?e=1632355200&v=beta&t=KeCv3xdRNgzGAaPxl_kQkbFRpptw08nXq6hj7aEn8EA"
							linkedin="https://www.linkedin.com/in/snowshannon/"
							instagram=""
							website=""
						/>
						<human
							name="Silja Nyboe Andersen"
							about="Transitioning from sustainable finance to soil."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQExjUQwZ7Hz9A/profile-displayphoto-shrink_400_400/0/1570520572018?e=1632355200&v=beta&t=daF2sdIR9C-Uzx8zKUIudFQay3OwaOOk7lvekvWDkJo"
							linkedin="https://www.linkedin.com/in/sebastiangraf1/"
							instagram=""
							website=""
						/>
						<human
							name="Stephanie von Meiss"
							about="Co-Founder of The Klosters Forum - an environmental Forum in the Swiss Alps. Passionate about driving change through the power of collaboration."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQFDarcAGppYVg/profile-displayphoto-shrink_400_400/0/1589600774062?e=1632355200&v=beta&t=KeCv3xdRNgzGAaPxl_kQkbFRpptw08nXq6hj7aEn8EA"
							linkedin="https://www.linkedin.com/in/stephanie-von-meiss-7549ba33/"
							instagram=""
							website=""
						/>
						<human
							name="Sviatlana	Lukashenia"
							about="Director at Gen II Fund Service. Aerial silks performer, Columbia Climate School Student."
							image="/images/events/FH20211/people/Sveta_Lukashenia.jpeg"
							linkedin=""
							instagram=""
							website=""
						/>
						<human
							name="Tharald Nustad"
							about="Norwegian serial entrepreneur and investor in the tech sector. He is the founder of Nordic Impact. Co-founder Katapult Future Fest, Katapult Ocean, Katapult Accelerator, Co-chair Impact investing workgroup NEXUS Global Summit."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQFbIdiAEJ66lA/profile-displayphoto-shrink_400_400/0/1516304903657?e=1632355200&v=beta&t=6KEIC-RtyZLmIos_bckE18orDgo52IjXTyv4u0wN7uc"
							linkedin="https://www.linkedin.com/in/tharaldnustad/"
							instagram=""
							website=""
						/>
						<human
							name="Vinay	Chaudhri"
							about="Head of Brand and Content at Backed VC. Previously Strategy Director at Sunshine and Saatchi &amp; Saatchi."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQH8sP9nXAJdDQ/profile-displayphoto-shrink_400_400/0/1582902362069?e=1632355200&v=beta&t=GpIAJ3diqYINnDoz4ywJhE6yMGdn53Qmba-u4qZjhA4"
							linkedin="https://www.linkedin.com/in/vinay-chaudhri-5085a15b/"
							instagram=""
							website=""
						/>
						<human
							name="Wael Mechri-Yver"
							about="Chief Experience Officer at Babël. Innovator, partner, and entrepreneur."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQHV6ivtc51qYA/profile-displayphoto-shrink_400_400/0/1549683718885?e=1632355200&v=beta&t=EJm3Fkci4DK_4Dsy5PQ527vkgiaTp4FJCHBgrGb720A"
							linkedin="https://www.linkedin.com/in/waelmechri/"
							instagram=""
							website=""
						/>
						<human
							name="Walfredo della Gherardesca"
							about="CEO of Genuine Way, a Swiss tech provider enabling brands to fight greenwashing using blockchain technology. Co-founder of The Castle Gathering. Owner of the castle 👑."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQEXyGd9dZ0Zcw/profile-displayphoto-shrink_400_400/0/1612738890502?e=1632355200&v=beta&t=G5ZcL-7JRp0XeUyYwhabZNNRrtjakE4JEy9NMR79ZfY"
							linkedin="https://www.linkedin.com/in/walfredo-della-gherardesca-2b046a4b/"
							instagram=""
							website=""
						/>
						<human
							name="Wan-Hsi	Yuan"
							about="Tech, Real Estate, Crypto, Interior Design and Art."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQFzFmPYiIWtOw/profile-displayphoto-shrink_400_400/0/1590266755890?e=1632355200&v=beta&t=MRdv3lKNLaRgzdexV1OkxsJSvYx_Vunv-ttkvht3I2c"
							linkedin="https://www.linkedin.com/in/wanhsi/"
							instagram=""
							website=""
						/>
						<human
							name="Weronika Cyrankiewicz"
							about="Industrial designer, artist and environmentalist."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQGjhoSof7YdrQ/profile-displayphoto-shrink_400_400/0/1623147638956?e=1632355200&v=beta&t=IhgLzP_pXRG2u21hAfoexHF4e-b5W6YkBuRfbgaxKxI"
							linkedin="https://www.linkedin.com/in/weronika-cyrankiewicz/"
							instagram=""
							website=""
						/>
						<human
							name="Xander Schultz"
							about="Social justice entrepreneur, philanthropist, and activist. In his Silicon Valley days co-founder of Complete and Kifi, which was acquired in 2016 by Google. In 2017, he joined Mike Novogratz’s family office as an entrepreneur-in-residence. Co-founder of Galaxy Labs."
							image="https://media-exp1.licdn.com/dms/image/C4E03AQF5hkhBI6E4mg/profile-displayphoto-shrink_400_400/0/1596506105048?e=1632355200&v=beta&t=9etdvF9MYNlzWIa9121VGwmUjYc7r5awgNulVds1pQE"
							linkedin="https://media-exp1.licdn.com/dms/image/C4E03AQF5hkhBI6E4mg/profile-displayphoto-shrink_400_400/0/1596506105048?e=1632355200&v=beta&t=9etdvF9MYNlzWIa9121VGwmUjYc7r5awgNulVds1pQE"
							instagram="https://www.linkedin.com/in/xanderschultz/"
							website=""
						/>
						<human
							name="Zoe	Pappis-Schultz"
							about="Executive Director + Co-Founder at WWBT - When We Band Together. Zoë Pappis is dedicated to ensuring displaced people have community resources, safe spaces and positive places where they can thrive."
							image="https://media-exp1.licdn.com/dms/image/C4D03AQESMNXzjFgLPA/profile-displayphoto-shrink_400_400/0/1588298289133?e=1632355200&v=beta&t=ZBTgVO3NasGON9QXplXBHdIzUU4AnZI0n7Y7HeyiOxk"
							linkedin="https://www.linkedin.com/in/zo%C3%AB-pappis-schultz-643738a6/"
							instagram=""
							website=""
						/>
						<div style="clear: both"></div>
					</div>
				</section>

				<section
					id="themes"
					class="py-0 tab-pane"
					:class="{ 'active show': isActive('themes') }"
				>
					<div class="wrap">
						<p>Swanky day themes!</p>
					</div>
					<div
						class="flex flex-col items-center justify-center pb-32"
					>
						<a
							href="https://docs.google.com/presentation/d/1kzbDMLQ4ct-We2jjueCFvU7tEtQT4lp7oMpcpFTEYbU/edit?usp=sharing"
							class="button mt-8 nuxt-link-active"
							target="_blank"
						>
							View Themes &amp; Lookbook
						</a>
					</div>
				</section>

				<section
					id="info"
					class="video tab-pane"
					:class="{ 'active show': isActive('info') }"
				>
					<div class="wrap">
						<div class="video-e">
							<iframe
								class="video-embed"
								src="https://player.vimeo.com/video/568630471"
								frameborder="0"
								allow="autoplay; fullscreen"
								allowfullscreen
							></iframe>
						</div>
					</div>
					<div
						class="flex flex-col items-center justify-center pb-32"
					>
						<a
							href="https://docs.google.com/presentation/d/1Syd_gBPUIBEAjU53FWt--f4agozjCryxZbw_MisEAIA/edit?usp=sharing"
							class="button mt-8 nuxt-link-active"
							target="_blank"
						>
							View Guest Deck
						</a>
					</div>
				</section>
			</div>
			<!-- <EventFooter /> -->
		</div>
	</div>
</template>

<script>
// import EventFooter from '~/components/event-footer'
// import Hero from '@/components/hero'
import Human from '@/components/human'

export default {
	components: {
		// Gallery,
		Human
		// EventFooter,
		// Hero
	},

	data() {
		return {
			permitted: false,
			form: {
				success: false,
				error: false,
				password: ''
			},
			activeItem: 'people'
		}
	},

	mounted() {},

	methods: {
		submitForm() {
			const passwords = [
				'the sleeper must awaken',
				'thesleepermustawaken',
				'fh21'
			]

			// we check the lowercase version of the typed password against the above array
			if (passwords.includes(this.form.password.toLowerCase()))
				this.permitted = true
			else this.form.error = 'The password you entered is incorrect'
		},
		isActive(menuItem) {
			return this.activeItem === menuItem
		},
		setActive(menuItem) {
			this.activeItem = menuItem
		}
	}
}
</script>

<style lang="scss">
@import '../components/form-confirm.scss';
// @import 'events/event.scss';
@import 'hub.scss';
</style>
