.page.home {
	@apply h-full;
	// height: 100vh;
	@apply overflow-x-hidden overflow-y-auto;

	// perspective: 2px;

	.signup {
		.wrap {
			@apply text-center;
			max-width: 600px;

			@include media('<de') {
				@apply max-w-none w-full flex justify-center;
			}
		}
	}

	.info {
		min-height: 500px;
		// background-color: #1a1b1c;
		background-image: url('/images/moon-cell-grid-02-a50.png');
		background-attachment: fixed;
		background-position: center;

		li:hover {
			color: #d6af89;
		}

		.col {
			@include media('<de') {
				width: auto;
			}
		}
	}

	.gallery {
		@apply pt-16;

		h2 {
			@apply relative z-10;
		}

		.board {
			@screen ta {
				margin-top: -180px;
			}

			.col {
				grid-template-columns: 1fr;

				.image {
					// max-width: 650px;
				}

				@screen ta {
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-areas:
						'tl tm tr'
						'bl none br';

					.image {
						&:nth-child(1) {
						}
						&:nth-child(2) {
							margin-top: 500px;
						}
						&:nth-child(3) {
						}
						&:nth-child(4) {
							margin-top: -150px;
						}
						&:nth-child(5) {
							margin-top: -150px;
							grid-area: br;
						}
					}
				}
			}

			.image {
				// @apply bg-light;
				// height: 585px;
				// max-width: 420px;

				&:hover {
					img {
						opacity: 1;
					}
				}

				img {
					opacity: 0.7;
					transition: ease 0.5s opacity;
				}

				// @include media('<1280px') {
				// 	height: auto;
				// 	margin: 64px 10px 0 10px !important;
				// }
			}
		}
	}

	.joinus {
		// @apply pt-60;

		max-width: 1920px;

		.top {
			@apply text-main;
			@apply relative flex items-end;

			height: 800px;

			&:after {
				content: ' ';
				@apply absolute w-full h-full top-0 left-0 z-10;

				// z-index: -1;

				// transform: translateZ(-1px) scale(1.5);

				background: url('/images/beach.jpg') no-repeat;
				background-size: cover;
			}

			.wrap {
				@apply relative flex-grow flex-shrink pb-0 z-20;
			}
		}

		.bottom {
			@apply bg-dark text-light;

			.wrap {
				@apply pt-0;

				@include media('<de') {
					@apply flex-col;
				}

				.col--right {
					@apply relative;

					@include media('<de') {
						@apply pt-0;
					}

					&:before {
						@apply absolute;
						@apply bg-accent;

						content: ' ';
						right: calc(100% + 0px);
						bottom: 65px;

						height: 1px;
						width: 450px;

						@include media('<de') {
							height: 40px;
							width: 1px;
							right: auto;
							left: 50%;
						}
					}

					.button {
						@apply absolute right-0 w-full;

						bottom: 40px;

						@include media('<de') {
							@apply mt-10 static;
						}
					}
				}
			}
		}
	}

	.block-center {
		margin: 0 auto;
	}
}
