<template>
	<div class="page home">
		<component
			:is="blok.component | dashify"
			v-for="blok in story.content.body"
			:key="blok._uid"
			:blok="blok"
		></component>
	</div>
</template>

<script>
// import FH1Partners from '~/components/fh1.partners'
// import FH211Partners from '~/components/fh211.partners'
import Hero from '~/components/hero'
import Gallery from '~/components/gallery'
import InviteForm from '~/components/form-invite'

import storyblokLivePreview from '@/mixins/storyblokLivePreview'
import storyblokHelpers from '@/mixins/storyblokHelpers'
import storyblokDefault from '@/mixins/storyblokDefault'

export default {
	components: { Gallery, InviteForm, Hero },
	mixins: [storyblokLivePreview, storyblokDefault, storyblokHelpers]
}
</script>

<style lang="scss">
@import 'index';
</style>
