<template>
	<div class="page">
		<section class="wrap block">
			<h3 class="pt-40 de:pt-20 text-center">Login</h3>
			<form class="de:w-1/2 mx-auto mt-12 text-left p-4">
				<div class="mb-8">
					<input
						v-model="form.email"
						type="textbox"
						name="email"
						placeholder="Email address"
						@keyup.enter="login()"
					/>
				</div>
				<div class="mb-8">
					<input
						v-model="form.password"
						type="password"
						name="password"
						placeholder="Password"
						@keyup.enter="login()"
					/>
				</div>
				<div class="submit text-center">
					<a
						class="button"
						:class="form.processing ? 'loading' : ''"
						@click="login()"
						>Login</a
					>
				</div>

				<div class="submit text-center mt-10">
					<a
						class="button text-smallest"
						:class="form.processing ? 'loading' : ''"
						@click="resetPassword()"
						>Reset Password</a
					>
				</div>
			</form>
		</section>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import User from '@/api/user'

export default {
	data: () => ({
		form: {
			processing: false
		}
	}),
	computed: { ...mapState('auth', ['me']) },

	mounted() {
		if (this.me.Id) this.$router.push({ path: '/me' })
	},

	methods: {
		async login() {
			let user = new User()
			let me
			this.form.processing = true
			try {
				me = await user.login(this.form.email, this.form.password)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'The given email and password were not found.'
				})

				return
			} finally {
				this.form.processing = false
			}

			console.log('logged in', this.form.email, this.form.password, me)
			this.$store.dispatch('auth/setup', me.data.token)

			setTimeout(() => {
				let ret = this.$route.query.return

				if (ret) this.$router.push(ret + '#eventregister')
				else this.$router.push('/me')
			}, 2500)
		},

		async resetPassword() {
			if (!this.form.email) {
				this.$store.dispatch('notify', {
					message:
						'Please enter your email address to request a password reset.'
				})

				return
			}

			let user = new User()
			this.form.processing = true
			try {
				await user.resetPassword(this.form.email)
			} catch (e) {
				this.$store.dispatch('notify', {
					message:
						'There was an  unknown issue requesting a password reset.'
				})

				return
			} finally {
				this.form.processing = false
			}

			// console.log('logged in', this.form.email, this.form.password, me)
			// this.$store.dispatch('auth/setup', me.data.token)
			// this.$router.push('/me')

			this.$store.dispatch('notify', {
				message:
					"We've sent you an email with a link to reset your password.",
				type: 'success'
			})

			return
		}
	}
}
</script>
