<template>
	<div class="page">
		<div class="wrap">
			<section
				v-if="me && me.Id"
				class="de:grid de:grid-cols-2_66_33 pb-0 pt-40"
			>
				<div>
					<h3 class="text-largest">
						Welcome,
						{{ me.firstName || 'Anonymous' }}!
					</h3>
					<nav
						class="subnav static flex items-center bg-dark p-4 pl-0"
					>
						<nuxt-link class="no-underline" to="/me"
							>My Events</nuxt-link
						>
						<nuxt-link class="no-underline ml-10" to="/me/profile"
							>My Profile</nuxt-link
						>
						<a class="ml-10 no-underline" href="/" @click="logout()"
							>Logout</a
						>
					</nav>
					<p>
						Here you'll find everything you need to manage your
						Future Horizon experience. If you ever have any
						questions, feel free to contact us.
					</p>
				</div>
			</section>
			<section class="de:pt-20">
				<NuxtChild />
			</section>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	computed: { ...mapState('auth', ['me']) },

	mounted() {
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/login')
		}, 2500)
	},

	methods: {
		logout() {
			this.$router.push('/')
			this.$store.dispatch('auth/logout')
		}
	}
}
</script>
