<template>
	<div class="page">
		<div class="wrap">
			<section class="pt-40">
				<h3 class="text-center">Reset password</h3>
				<div class="text-center">
					<p class="mt-4">
						Please enter your new password.
					</p>
				</div>
				<form class="mt-12 text-left p-4 de:w-1/2 mx-auto">
					<div class="mb-8">
						<input
							v-model="form.password"
							type="password"
							name="password"
							placeholder="Enter your new password ..."
							@enter="submit()"
						/>
					</div>
					<div class="mb-8 relative">
						<input
							v-model="form.passwordConfirm"
							type="password"
							name="password"
							placeholder="Confirm your password ..."
							@enter="submit()"
						/>
						<p
							v-if="
								form.passwordConfirm &&
									form.passwordConfirm !== form.password
							"
							class="text-red absolute right-0  top-0  uppercase tracking-wide"
						>
							MISMATCH
						</p>
						<p
							v-if="
								form.passwordConfirm &&
									form.passwordConfirm === form.password
							"
							class="text-green absolute right-0 top-0 uppercase tracking-wide"
						>
							MATCH
						</p>
					</div>
					<div class="submit text-center">
						<a
							class="button"
							:class="[
								form.processing ? 'loading' : '',
								!ready ? 'inactive' : ''
							]"
							@click="submit()"
							>Reset Password</a
						>
					</div>
				</form>
			</section>
		</div>
	</div>
</template>

<script>
import User from '@/api/user'

export default {
	data: () => ({
		form: {
			processing: false,
			password: '',
			passwordConfirm: ''
		}
	}),

	computed: {
		ready() {
			return (
				this.form.password === this.form.passwordConfirm &&
				this.form.passwordConfirm
			)
		}
	},
	mounted() {},
	methods: {
		async submit() {
			// console.log('saw info', this.$route.query._t, this.form.password)
			if (!this.ready) {
				this.form.processing = false
				return
			}
			if (this.form.processing) return

			this.form.processing = true

			let user = new User()

			try {
				await user.confirmResetPassword(
					this.$route.query._t,
					this.form.password
				)
			} catch (e) {
				this.form.processing = false
				this.$store.dispatch('notify', {
					message:
						'We were unable to find your password reset request.  Please use the reset password link to change your password.'
				})
				this.$router.push('/login')
				return
			} finally {
				this.form.processing = false
			}

			this.$store.dispatch('notify', {
				message:
					'Your password change was successful.  Please log in using your new password.',
				type: 'success'
			})

			this.$router.push('/login')
			return
		}
	}
}
</script>

<style lang="scss">
form input,
textarea {
	&,
	&::placeholder {
		@apply text-default text-left normal-case tracking-normal font-normal text-dim;
	}

	& {
		@apply text-light;
	}
}
</style>
