<template>
	<div class="page submit">
		<Hero
			subtext="Tuscany, Italy<br />July 28 - Aug 1, 2021"
			video="FH201-cover-vid3-720-comp.mp4"
		></Hero>
		<section>
			<div class="wrap flex">
				<div class="col--left text-left">
					<h3>FH 21.1 Awaits</h3>
					<p>
						We will gather and awaken on the
						<strong>hills of Tuscany</strong>
						in a castle surrounded by nature, nearby seafront and
						water activities.
					</p>

					<p>
						<strong>A dynamic five days</strong> filled with
						electrifying experiences that will stimulate our minds
						and bodies. Flourishing from our epic inception
						gathering, FH21.1 will bring together our tribe of
						change accelerators and visionaries into an environment
						designed to explore connections: with each other, the
						planet, and ourselves.
					</p>

					<p>
						Together, we will form the
						<strong>
							future of collective sustainable thinking
						</strong>
						and action while embarking on an unforgettable shared
						journey.
					</p>
					<p>
						"Without change, something sleeps inside us, and seldom
						awakens. The sleeper must awaken."<br />
						- Frank Herbert
					</p>
				</div>
				<div class="col--right ph:text-center"></div>
			</div>
		</section>
		<section class="photo pt-0">
			<img src="/images/events/FH20211/castle1.jpg" />
		</section>
		<section class="photo pt-0">
			<img src="/images/events/FH20211/castle2.jpg" />
		</section>
		<section class="py-0">
			<div class="wrap flex">
				<div class="col--left text-left">
					<p>
						<strong>At this gathering</strong>, we are unveiling our
						new concept of <strong>pods</strong>. While FH 2021.1
						will still be one unified event, some experiences will
						be based on two interest areas: <strong>Terra</strong> &
						<strong>Aqua</strong>. Land and water. Which one is
						calling to you? These pods are curated to help find our
						connection points through inspirational and fun themed
						environments and will feature focused workshop to make
						the biggest impact during our magic moment out of time.
					</p>
				</div>
				<div class="col--right ph:text-center"></div>
			</div>
		</section>
		<section class="submit info  pt-0">
			<div class="wrap flex">
				<div class="confirm">
					<div class="info mt-24">
						<h3>Confirm Participation</h3>
						<div class="mt-6">
							<p class="my-12 description">
								Please send your name along with your email so
								we can contact you.
							</p>
							<h4>
								<strong
									>Current Tier - {{ tier.name }}
									<em v-if="tier.limit"
										>(Limit {{ tier.limit }})</em
									></strong
								>
							</h4>
							<div class="ml-0">
								<p v-if="password.discount">
									<strong>Family discount</strong>: ${{
										price
									}}
									USD
								</p>
								<p
									:style="{
										'text-decoration': password.discount
											? 'line-through'
											: ''
									}"
								>
									<strong>Regular</strong>: ${{ tier.price }}
									USD
								</p>
							</div>
							<div class="mt-10">
								<h4>
									<strong>Tiers</strong>
								</h4>
								<div
									v-for="t in tiers"
									:key="t.date"
									class="ml-0"
								>
									<p>
										<strong>{{ t.name }}</strong> -
										<span class="text-smaller">{{
											t.date
										}}</span>
										-
										<span
											:style="{
												'text-decoration': password.discount
													? 'line-through'
													: '',
												'font-size': password.discount
													? '12px'
													: ''
											}"
											>${{ t.price }} USD</span
										>
										<span v-if="password.discount"
											>${{
												t.price *
													(1 - password.discount)
											}}
											USD</span
										>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="info mt-12">
						<div>
							<a
								:href="`${cryptoLink}`"
								class="button outline block mb-10"
								target="_blank"
								>Pay with Crypto</a
							>
						</div>
						<a
							class="button outline block"
							:href="
								`https://paypal.me/futurehorizon/${price}usd`
							"
							target="_blank"
							>Pay with Old Money</a
						>

						<!-- <a
						class="button outline block my-6"
						href="https://venmo.com/matcy"
						target="_blank"
						>Venmo</a
					> -->
						<!-- <a
						class="button outline block"
						:class="bankTransfer ? 'active' : ''"
						@click="showBankTransfer"
						>Bank Transfer</a
					> -->
					</div>
					<!-- <div v-if="bankTransfer" class="info transfer">
					<p>IBAN: <strong>GB09 REVO 0099 7075 9727 39</strong></p>
					<p>Bank code (SWIFT / BIC): <strong>REVOGB21</strong></p>
					<p>Beneficiary: <strong>Mateusz Cyrankiewicz</strong></p>
					<p>Address:<br /></p>

					<pre>
	12 John Prince's Street
	W1G0JR, London, GB
	</pre
					>
				</div> -->
				</div>
			</div>
		</section>
		<section class="submit info pt-0">
			<div class="wrap flex">
				<div class="col--left text-left">
					<h3>Accommodations</h3>
					<p class="mt-12 description">
						As usual, accommodations are not included, however we
						will help every one of you to find a suitable place at
						or near the castle.
					</p>
					<p class="mt-12 description">
						We have a limited number of beautiful rooms in the
						castle, please send us a message if you'd like to stay
						there. Soon we will offer a variety of additional
						accommodation options nearby, with a discount for the
						event, from budget to 5 stars.
					</p>
					<p>♥</p>
				</div>
				<div class="col--right ph:text-center"></div>
			</div>
		</section>
		<section class="submit info pt-0">
			<div class="wrap flex">
				<div class="col--left text-left">
					<h3>COVID-19</h3>
					<p class="mt-12">
						<strong
							>In light of the global health crisis ...</strong
						>
					</p>
					<p class="mt-12">
						We do not expect problems getting to Italy for
						travellers from the US. However, if the ban continues we
						can supply a letter which will allow entry to Europe for
						our guests, upon request.
					</p>
					<p class="mt-12">
						FH is following guidance from local health departments
						and the Centers for Disease Control and Prevention (CDC)
						regarding large gatherings, including CDC
						recommendations on preventing the spread of COVID-19.
					</p>
					<p class="mt-12 ">
						We ask everyone to please either be fully vaccinated or
						have a negative PCR or antigen test. If you are sick,
						feel like you are getting sick, or have been in contact
						with someone who has COVID-19, we ask that you please
						stay home.
					</p>
					<p class="mt-12 ">
						See you soon! ♥
					</p>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import Hero from '@/components/hero'

export default {
	name: 'Submit',
	components: { Hero },

	data: () => {
		return {
			currentTier: 3, // 0-indexed current tier.  EB = 0, tier 1 = 1, etc.
			bankTransfer: false,
			tiers: [
				{
					name: 'Early Bird',
					date: 'May 16th',
					limit: 30,
					price: 800
				},
				{
					name: 'Tier 1',
					date: 'June 22nd',
					price: 1250,
					discounts: {
						0.2: 'https://checkout.opennode.com/p/44b92dee-95f8-40c4-b3e8-5a55a4f2dd03',
						0.15: 'https://checkout.opennode.com/p/a3ac3c49-c738-46df-8731-316b067e9241',
						0: 'https://checkout.opennode.com/p/27fad5f9-13e1-4cae-be9e-a13b4eb1643c'
					}
				},
				{
					name: 'Tier 2',
					date: 'July 15th',
					price: 1500,
					discounts: {
						0.2: 'https://checkout.opennode.com/p/774ad7d9-513f-43bb-a9ea-67c08b1ebab3', // f family
						0.15: 'https://checkout.opennode.com/p/6c4e6805-2fab-46df-be82-b1eb64589d58', // 15% ambassador
						0: 'https://checkout.opennode.com/p/4a7b8394-f2c1-4c74-b6d4-c0c1678d60ad' // default
					}
				},
				{
					name: 'Tier 3',
					date: 'July 28th',
					price: 2400,
					discounts: {
						0.2: 'https://checkout.opennode.com/p/7aec570b-4882-43ba-b8e3-cbf77904674d', // f family
						// 0.15: '', // 15% ambassador
						0: 'https://checkout.opennode.com/p/0a21ee51-21fb-4995-8722-69642a496198' // default
					}
				}
			]
		}
	},

	head() {
		return {
			title: 'Welcome Home | F : A Good Future'
		}
	},

	computed: {
		...mapState('auth', ['permitted', 'password']),
		cryptoLink() {
			const link = this.tier.discounts[this.password.discount]

			// console.log('generating crypto link', this.password.discount, link)

			return link
		},
		tier() {
			return this.tiers[this.currentTier]
		},
		price() {
			return this.tier.price * (1 - this.password.discount)
		}
	},

	mounted() {
		// console.log('permitted', this.permitted)
		if (!this.permitted) this.$router.push('/events/fh20211')
		// if (this.$state)
	},

	methods: {
		showBankTransfer() {
			this.bankTransfer = !this.bankTransfer
		}
	}
}
</script>

<style lang="scss">
@import 'submit';
</style>
