<template>
	<div class="page border-highlight border p-4">
		<div class="wrap block">
			<section
				v-if="me && me.Id"
				class="de:grid de:grid-cols-2_66_33 py-4"
			>
				<div>
					<div class="user-header flex items-center">
						<div>
							<h3 class="">
								{{ event.fullName }}
							</h3>
							<span class=""
								>{{ event.startDate }} -
								{{ event.endDate }}</span
							>
						</div>
					</div>
					<nav
						class="subnav static flex items-center bg-dark p-4 pl-0"
					>
						<nuxt-link
							class="no-underline"
							:to="{
								name: 'admin-event-id-attendees',
								params: { id: event.Id }
							}"
							>Attendees</nuxt-link
						>
						<nuxt-link
							class="no-underline ml-10"
							:to="{
								name: 'admin-event-id-edit',
								params: { id: event.Id }
							}"
							>Edit</nuxt-link
						>
					</nav>
				</div>
			</section>
			<section class="de:pt-20">
				<NuxtChild />
			</section>
		</div>
	</div>
</template>

<script>
import Event from '@/api/event'
import { mapState } from 'vuex'
// import Profile from '~/pages/me/profile.vue'

export default {
	data: () => ({
		isSaving: false,
		event: {}
	}),
	computed: {
		...mapState('auth', ['me'])
	},
	created() {
		this.load()
		setTimeout(() => {
			if (!this.me.Id) this.$router.push('/')
		}, 2500)
	},

	methods: {
		async load() {
			let event = new Event()
			let e
			try {
				e = await event.get(this.$route.params.id)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'There was an unknown error retrieving the event.'
				})
				this.$router.push('/admin/')
				return
			}

			this.event = { ...this.event, ...e.data }
		}
	}
}
</script>
