<template>
	<div class="w-full de:w-auto de:grid de:grid-cols-2_66_33">
		<div>
			<fieldset v-if="availableEvents.length > 0" class="p-2 mb-20">
				<legend>Add to an event</legend>
				<form>
					<select v-model="selectedEvent">
						<option
							v-for="e in availableEvents"
							:key="e.Id"
							:value="e.Id"
							>{{ e.fullName }}
						</option></select
					>
					<a
						class="w-full text-center button my-5"
						href=""
						@click.prevent="addToEvent()"
						>Add To Event</a
					>
				</form>
			</fieldset>
			<h3 class="text-large">Events</h3>
			<table class="w-full">
				<tr v-for="e in events" :key="e.event.name">
					<td>{{ e.event.fullName }}</td>
					<td>
						{{
							e.event_status.toLowerCase() === 'paid'
								? '✅ Paid'
								: e.event_status
						}}
					</td>
					<td v-if="!e.paid">
						<a href="" @click.prevent="comp(e.Id)">{{
							e.comped ? 'Uncomp' : 'Comp'
						}}</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
import Admin from '@/api/admin'
import Event from '@/api/event'
// import Event from '@/api/event'
import { mapState } from 'vuex'

export default {
	data: () => ({
		isSaving: false,
		events: [],
		allEvents: [],
		selectedEvent: '',
		comping: false
	}),
	computed: {
		...mapState('auth', ['me']),
		availableEvents() {
			let usedEvents = {}
			this.events.map(e => (usedEvents[e.event.Id] = true))
			let filteredEvents = this.allEvents.filter(e => !usedEvents[e.Id])
			console.log(
				'saw filtered events',
				this.allEvents,
				this.events,
				usedEvents,
				filteredEvents
			)
			return filteredEvents
		}
	},
	mounted() {
		this.load()
	},

	methods: {
		async load() {
			let admin = new Admin()
			let event = new Event()
			// let events, allEvents
			try {
				let [events, allEvents] = await Promise.all([
					admin.getUserEvents(this.$route.params.id),
					event.all()
				])

				console.log('received events', events, allEvents)

				this.events = events.data
				this.allEvents = allEvents.data
			} catch (e) {
				this.$store.dispatch('notify', {
					message:
						'There was an unknown error retrieving the user events.'
				})
				// this.$router.push('/admin/')
				return
			}
		},

		async comp(id) {
			let admin = new Admin()
			if (this.comping) return

			this.comping = true

			try {
				await admin.compEvent(id)
			} catch (e) {
				this.$store.dispatch('notify', {
					message: 'There was an unknown error comping the user.'
				})
				// this.$router.push('/admin/')
				return
			} finally {
				this.comping = false
			}

			this.$store.dispatch('notify', {
				type: 'success',
				message: 'The user was succesfully comped.'
			})

			this.load()
		},

		async addToEvent() {
			console.log('adding to event', this.selectedEvent)
			let admin = new Admin()

			try {
				await admin.addUserToEvent(
					this.$route.params.id,
					this.selectedEvent
				)
			} catch (e) {
				this.$store.dispatch('notify', {
					message:
						'There was an unknown error adding the user to the event.'
				})
				// this.$router.push('/admin/')
				return
			}

			this.load()
		}
	}
}
</script>
